// ==========================================================================
// CSS Icons
// ==========================================================================

.icn {
    display: inline-block;
    vertical-align: middle;
}


.icon-container {
	@include inline-block;
	width: 20px;
	height: 22px;
	line-height: 17px;
}

// hide the hover icon
.icons--is-hover {
	display: none;
}


// hover - show hover icon / hide standard icon on hover
.icons-child-hover {

	&:hover {

		.icons {
			display: none;
		}

		.icons--is-hover {
			@include inline-block;
		}
	}
}

.icon-listing {
	@include inline-block;
	@include border-radius (3px);
	@include box-shadow (1px 1px 1px rgba(0,0,0,0.1));
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	overflow: hidden;
}

	.icon-item {
		@include inline-block;
		width: 31px;
		text-align: center;
		background-color: #e32143;
		border-left: 1px solid #e63856;
		border-right: 1px solid #cc1e3c;
		border-top: 1px solid #E32143;
		border-bottom: 1px solid #E32143;

		&:last-child {
			border-right: 0;
		}

		&:hover {
			background-color: #f4f4f4;
			border-bottom: 1px solid #CFCFCF;
			border-left: 1px solid #CFCFCF;
			border-top: 1px solid #CFCFCF;
		}
	}

@import "mobi-nav-btn";
@import "grip";
@import "plus";