// ==========================================================================
// Waveform player
// ==========================================================================

.waveform {
    width: 325px;
    height: 30px;
    left: 0;
    top: -5px;
    position: absolute;
    z-index: 1;
}