// ==========================================================================
// Drawer Left
// ==========================================================================

$events: #ffbe40;
$music: #3fb8af;
$words: #e32143;

.drwr-left__title-container {
    background: #262626 url("../images/mobile/menus/mypulse/icons/my-pulse.png") no-repeat;
    background-position: 16px 19px;
    padding: 10px 10px 10px 40px;
    overflow: auto;
    text-shadow: 2px 3px 4px rgba(0,0,0,.26);
}

.drwr-left__title {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin: 7px 0 0 0;
    width: 100px;
    float: left;
}

    .drwr-left__title-em {
        display: inline-block;
    }

    .drwr-left__title-em--events {
        color: $events;
    }

    .drwr-left__title-em--music {
        color: $music;
    }

    .drwr-left__title-em--words {
        color: $words;
    }

    .drwr-left__nav-list {
        padding: 0;
        margin: 0;
    }

        .drwr-left__nav-item {
            background-color: #1c1c1c;
            font-family: 'Karla', sans-serif;
            font-size: 11px;
            list-style: none;
            text-transform: uppercase;
        }

            .drwr-left__nav-link {
                padding: 0;
                margin: 0;
                color: #666666;
                text-decoration: none;
                display: block;
                width: 100%;
                height: 43px;
                padding: 15px 0 0 45px;
                border-top: solid 1px #252525;
                border-bottom: solid 1px #0c0c0c;
                font-weight: bold;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                    background: #E32143;
                }
            }