

<!-- start main nav filter -->
<div class="nav-header  hidden-xs  clearfix  js-nav-filter  js-nav-filter-home">
    <ul class="nav-header__list  nav-header__list--center  option-set  clearfix  js-filters" data-option-key="filter">
        <li class="nav-header__item js-filter-item"
            data-option-value=".filtermypulse">
            <a class="nav-header__link"
               href="#filter">
                My Pulse
            </a>
        </li>
        <li class="nav-header__item js-filter-item"
            data-option-value=".filterlatest">
            <a class="nav-header__link"
               href="#filter">
                Latest
            </a>
        </li>

        <li class="nav-header__item js-filter-item"
            data-option-value=".filtertrending">
            <a class="nav-header__link"
               href="#filter">
                Trending
            </a>
        </li>
        <li class="nav-header__item js-filter-item"
            data-option-value=".filterwhatshot">
            <a class="nav-header__link"
               href="#filter">
                What's Hot
            </a>
        </li>
    </ul>
</div> <!-- .nav-header -->
<!-- end main nav filter -->

<div id="widgetNav-anchor"></div>

<!-- start three column content section -->

<div class="sec-list js-sec-list">
    <div class="sec-list__col sec-list__col--md-small  js-sec-list-col">
        <div class="sec-list__col-wrap  js-filter  js-eventsFilter">

            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div>
                <article>

                    <div class="sec-list__item  js-sec-list-item ">

                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/hp-event1.png">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">
                                                <a href="/event" class="colYellow">BUY TICKETS</a>

                                                <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                <a class="btn
                                                   btn--event-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    Going
                                                </a>




                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>

                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="/event-listing" style="color:#000;">Top Picks</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="/event" style="color:#000;">Balance: Nick Warren</a>
                                    </h1>
                                    <h3 class="sec__text">
                                        Thursday 07am 19/06/14
                                    </h3>



                                    <div class="btn-group btn-group-sm clearfix nudge-top eventBtns">
                                        <div class="btn btn-default">
                                            <a href="/event">More Info</a>
                                        </div>

                                        <div class="btn btn-default">
                                            <a href="/event">Buy Tickets</a>
                                        </div>
                                    </div>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row" style="margin-top:15px; margin-left: -10px;">

                                        <div class="share-button" data-url="http://www.pulseradio.net" data-text="Circoloco Australia - pulseradio.net" data-title="share"></div>

                                    </div>
                                    <!-- end share block -->

                                </div> <!-- .wrap -->

                            </div> <!-- .sec__content -->
                        </div>                         

                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end event item -->


            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterevents filterwhatshot">
                <article>

                    <div class="sec-list__item  js-sec-list-item ">

                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/hp-event2.png">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">
                                                <a href="/event" class="colYellow">BUY TICKETS</a>

                                                <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                <a class="btn
                                                   btn--event-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    Going
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>

                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        Club Mixes
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="/event" style="color:#000;">Balance: Nick Warren</a>
                                    </h1>
                                    <h3 class="sec__text">
                                        Thursday 07am 19/06/14
                                    </h3>

                                    <div class="btn-group btn-group-sm clearfix eventBtns" style="margin-top: 10px;">
                                        <div class="btn btn-default">
                                            <a href="/event">More Info</a>
                                        </div>

                                        <div class="btn btn-default">
                                            <a href="/event">Buy Tickets</a>
                                        </div>
                                    </div>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row" style="margin-top:15px; margin-left: -10px;">

                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                    </div>
                                    <!-- end share block -->

                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end event item -->


            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterevents filtermypulse">
                <article>

                    <div class="sec-list__item  js-sec-list-item ">

                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/hp-event3.png">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">
                                                <a href="/event" class="colYellow">BUY TICKETS</a>

                                                <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                <a class="btn
                                                   btn--event-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    Going
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>

                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        Club Mixes
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="/event" style="color:#000;">Balance: Nick Warren</a>
                                    </h1>
                                    <h3 class="sec__text">
                                        Thursday 07am 19/06/14
                                    </h3>

                                    <div class="btn-group btn-group-sm clearfix eventBtns" style="margin-top: 10px;">
                                        <div class="btn btn-default">
                                            <a href="/event">More Info</a>
                                        </div>

                                        <div class="btn btn-default">
                                            <a href="/event">Buy Tickets</a>
                                        </div>
                                    </div>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row" style="margin-top:15px; margin-left: -10px;">

                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                    </div>
                                    <!-- end share block -->

                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end event item -->


        </div> <!-- .sec-list__col-wrap -->
    </div> <!-- .sec-list__col -->

    <div class="sec-list__col  sec-list__col--md-medium  js-sec-list-col">
        <div class="sec-list__col-wrap  js-filter  js-musicFilter">

            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div>
                <div class="filterwhatshot filtermusic filtermypulse">
                    <article>
                        <div class="sec-list__item  js-sec-list-item">
                            <div class="sec sec-item">
                                <div class="sec__figure">
                                    <img class="sec__img" src="images/desktop/temp/podcast-listing/dubfire.jpg">

                                    <div class="sec__figure-overlay">
                                        <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                        <div class="sec__caption-container">
                                            <div class="sec__caption">
                                                <div class="wrap">
                                                    <a href="#" data-item="1" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                    <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                    <a class="btn
                                                       btn--music-slider" href="#">
                                                        <i class="icons icons-dj-logo dj-logo"></i>
                                                        Follow
                                                    </a>



                                                </div>
                                            </div> <!-- .sec__caption -->
                                        </div> <!-- .sec__caption-container -->
                                    </div> <!-- .sec__figure-overlay -->
                                </div>

                                <div class="sec-item__content">
                                    <div class="wrap">
                                        <h2 class="sec__sub-title">
                                            <a href="/podcast-listing" style="color:#000;">PODCASTS</a>
                                        </h2>
                                        <h1 class="sec__title">
                                            <a href="/podcast" style="color:#000;">Yousef</a>
                                        </h1>
                                        <h3 class="sec__text">
                                            The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                        </h3>

                                        <!-- start share block -->
                                        <div class="clearfix"></div>
                                        <div class="row" style="margin-top:15px; margin-left: 0px;">

                                            <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                        </div>
                                        <!-- end share block -->

                                    </div> <!-- .wrap -->
                                </div> <!-- .sec__content -->
                            </div>
                        </div> <!-- .sec-list__item -->
                    </article>
                </div>
                <!-- end music item -->
            </div>

            <!-- start advertising -->
            <div class="filterwhatshot filtermusic filtermypulse">
                <article>
                    <div class="container">
                        <div class="row hidden-xs" style="margin-top:10px; margin-left: -10px; margin-right: 0px; padding-bottom:10px;">
                            <a href="#"><img src="images/desktop/banners/pointblank.gif"></a>
                        </div>
                        <div class="row visible-xs" style="margin-top:10px; margin-right: 0px; padding-bottom:10px;">
                            <a href="#"><img src="images/desktop/banners/pointblank.gif"></a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- end advertising -->


            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterwhatshot filtermusic filtermypulse">
                <article style="margin-top:10px; padding-bottom: 10px;">
                    <div class="sec sec-item" >
                        <div class="chart-gallery" data-theme="light" data-auto-flick-delay="6" data-block-text="true" data-dot-navigation="false" >
                            <ul>
                                <li>
                                    <img class="img-responsive" src="images/desktop/temp/charts/seth-troxler.jpg">
                                    <div class="flick-title" style="margin-top:-110px; font-size: 12px; width: 100%; text-transform: uppercase;">Seth Troxler</div>
                                </li>
                                <li>
                                    <img class="img-responsive" src="images/desktop/temp/charts/magda.jpg">
                                    <div class="flick-title" style="margin-top:-110px; font-size: 12px; width: 100%; text-transform: uppercase;">Magda</div>
                                </li>
                                <li>
                                    <img class="img-responsive" src="images/desktop/temp/charts/martinez.jpg">
                                    <div class="flick-title" style="margin-top:-110px; font-size: 12px; width: 100%; text-transform: uppercase;">Martinez Brothers</div>
                                </li>
                            </ul>

                            <!-- .sec__figure-overlay -->
                        </div>

                        <div class="sec-item__content">
                            <div class="wrap">
                                <h2 class="sec__sub-title">
                                    <a href="/podcast-listing" style="color:#000;">dance music charts</a>
                                </h2>
                                <h1 class="sec__title">
                                    <a href="channel-detail.php" style="color:#000;">March 2014</a>
                                </h1>

                            </div> <!-- .wrap -->
                        </div> <!-- .sec__content -->
                    </div>
                </article>
            </div>
            <!-- end music item -->


            <div class="filterwhatshot filtermusic filtermypulse">
                <article>
                    <div class="row hidden-xs" style="margin-top:10px; padding-bottom:10px;">
                        <a href="#"><img src="images/desktop/banners/10948572128404681408.jpg"></a>
                    </div>
                    <div class="row visible-xs" style="margin-top:10px; margin-right: 0px; padding-bottom:10px;">
                        <center><a href="#"><img src="images/desktop/banners/10948572128404681408.jpg"></a></center>
                    </div>
                </article>
            </div>

        </div> <!-- .sec-list__col-wrap -->
    </div> <!-- .sec-list__col -->

    <div class="sec-list__col sec-list__col--md-large  js-sec-list-col">
        <div class="sec-list__col-wrap  js-filter  js-wordsFilter">

            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterwhatshot filterwords filterlatest filtermypulse">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words2.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>






                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="/article-listing" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="/article" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>



                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->

            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterwords filtertrending">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words1.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>




                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="/article-listing" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="/article" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>


                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->

            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterwords filtertrending">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words3.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>




                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="/article-listing" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="/article" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>


                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->

        </div>  <!-- .sec-list__col-wrap -->
    </div> <!-- .sec-list__col -->

</div> <!-- .sec-list -->

<!-- end three column content section -->