<div id="userSettings" class="container  snap-item  snap-item  js-snap-item  js-snap-settings">

    <div class="row">
        <div top-Nav-Module title="{{title}}" navdata="{{navdata}}">
            {{module.content}}
        </div>

        <div class="row">
            <div class="col-xs-12">

                <div class="settings  sec  sec__item">
                    <div class="sec-item__content  sec-item__content--full-border">
                        <div class="wrap">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="settings__item">
                                        <div class="wrap">
                                            Name, Phone, and Email
                                            <div class="l-right settings__edit">
                                                Edit <i class="settings__arrow icons icons-arrow-right o-30"></i>
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="settings__item">
                                        <div class="wrap">
                                            Password
                                            <div class="l-right settings__edit">
                                                Edit <i class="settings__arrow icons icons-arrow-right o-30"></i>
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="settings__item">
                                        <div class="wrap">
                                            Credit Card
                                            <div class="l-right settings__edit">
                                                Edit <i class="settings__arrow icons icons-arrow-right o-30"></i>
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="settings__item">
                                        <div class="wrap">
                                            Notifications
                                            <div class="l-right settings__edit">
                                                Edit <i class="settings__arrow icons icons-arrow-right o-30"></i>
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="settings__item">
                                        <div class="wrap">
                                            What are you into?
                                            <div class="l-right settings__edit js-side-nav-item" data-name="mychannels">
                                                Edit <i class="settings__arrow icons icons-arrow-right o-30"></i>
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="settings__item">
                                        <div class="wrap">
                                            Your Location
                                            <div class="l-right settings__edit">
                                                Edit <i class="settings__arrow icons icons-arrow-right o-30"></i>
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="settings__item  settings__item--dark">
                                        <div class="wrap">
                                            Add Tickets to Calendar
                                            <div class="l-right settings__checkbox">
                                                <input type="checkbox" class="js-checkbox-switch pull-right">
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="settings__item  settings__item--dark">
                                        <div class="wrap">
                                            Update on Facebook?
                                            <div class="l-right settings__checkbox">
                                                <input type="checkbox" class="js-checkbox-switch pull-right">
                                            </div>
                                        </div><!-- .wrap -->
                                    </div>
                                </div>
                            </div>

                            <br>

                            <button type="button" class="btn btn-primary btn-lg btn-block">Logout</button>

                        </div> <!-- .wrap -->
                    </div>
                </div> <!-- .sec -->
            </div>
        </div>
    </div> <!-- .row -->

</div>