<!-- start my notifications page -->
<div class="container  snap-item  js-snap-item  js-filter-container  js-snap-notifications">
    <div class="row">
        <div top-Nav-Module title="{{title}}" navdata="{{navdata}}">
            {{module.content}}
        </div>

        <!-- start the content area -->
        <div class="sec-list">

            <div class="row">
                <div class="col-md-6 js-filter">
                    <div class="sec-list__item sec-item js-notification filterall filtermusic">
                        <!-- start header -->
                        <header class="sec-item__head sec-item__head--music clearfix">
                            <h1 class="sec-item__head-title  l-left">
                                <span class="nudge-right-small">Imagine</span> <span class="sec-item__head-title-em">just uploaded a new mix</span>
                            </h1>
                            <div class="l-right">
                                <div class="sec-item__close  icons  icons-close  js-notification-close"></div>
                            </div>
                        </header><!-- / header -->

                        <!-- start content section -->
                        <div class="sec-item__content">
                            <div class="wrap">

                                <div class="l-left nudge-right-large">
                                    <img src="images/desktop/temp/notifications/music1.jpg" class="img-responsive" />
                                </div>
                                <div class="hide-overflow">
                                    <h2 class="sec-item__title">
                                        Test Mix - 14-10-2014
                                    </h2>

                                    <div class="nudge-top-small">
                                        <span class="meta nudge-right-small"><img src="images/desktop/btns/notification-icons/ico-pulse.jpg" width="15" height="17" /></span>
                                        <span class="nudge-right-small">238</span>
                                        <img src="images/desktop/btns/notification-icons/ico-play.jpg" class="nudge-right-small" width="17" height="17" />
                                        <span class="nudge-right">105</span>
                                        2.3k shares
                                    </div>

                                    <ul class="flip_nav article-list__tags">
                                        <li class="article-list__tag-item">
                                            <a class="article-list__tag-link  article-list__tag-link--music" href="#">Tech House</a>
                                        </li>
                                        <li class="article-list__tag-item">
                                            <a class="article-list__tag-link  article-list__tag-link--music" href="#">Deep House</a>
                                        </li>
                                        <li class="article-list__tag-item">
                                            <a class="article-list__tag-link  article-list__tag-link--music" href="#">Techno</a>
                                        </li>
                                    </ul>

                                    <div class="sec-item__share">

                                        <div class="sec-item__share-item  nudge-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span></button>
                                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span></button>
                                            </div>
                                        </div>
                                        <a href="#"><img src="images/desktop/btns/social/btn-fb.jpg" width="32" height="32" class="sec-item__share-item" /></a><!--
                                        --><a href="#"><img src="images/desktop/btns/social/btn-twitter.jpg" width="32" height="32"class="sec-item__share-item" /></a><!--
                                        --><a href="#"><img src="images/desktop/btns/social/btn-googleplus.jpg" width="32" height="32"class="sec-item__share-item" /></a><!--
                                        --><a href="#"><img src="images/desktop/btns/social/btn-mypulse.jpg" width="32" height="32" class="sec-item__share-item" /></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .sec-item__content -->
                    </div>


                    <div class="sec-list__item sec-item js-notification filterall filterevents">
                        <!-- start header -->
                        <header class="sec-item__head sec-item__head--events clearfix">
                            <h1 class="sec-item__head-title  l-left">
                                Thanks for posting your event. share it now!
                            </h1>
                            <div class="l-right">
                                <div class="sec-item__close  icons  icons-close  js-notification-close"></div>
                            </div>
                        </header>

                        <!-- start content section -->
                        <div class="sec-item__content">
                            <div class="wrap">

                                <div class="l-left nudge-right-large">
                                    <img src="images/desktop/temp/notifications/music1.jpg" class="img-responsive" />
                                </div>

                                <div class="hide-overflow">
                                    <h2 class="sec-item__title">
                                        Lost Disco
                                    </h2>
                                    <p>
                                        330 George Street, Sydney, New South Wales, Australia<br>
                                        Friday 06 December
                                    </p>

                                    <div class="sec-item__share">

                                        <div class="sec-item__share-item  nudge-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span></button>
                                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span></button>
                                            </div>
                                        </div>
                                        <!--<a href="#"><img src="images/desktop/btns/social/btn-fb.jpg" width="32" height="32" class="sec-item__share-item" /></a>
                                        --><!--<a href="#"><img src="images/desktop/btns/social/btn-twitter.jpg" width="32" height="32"class="sec-item__share-item" /></a>
                                        --><!--<a href="#"><img src="images/desktop/btns/social/btn-googleplus.jpg" width="32" height="32"class="sec-item__share-item" /></a>
                                       
                                        --><a href="#"><img src="images/desktop/btns/social/btn-mypulse.jpg" width="32" height="32" class="sec-item__share-item" /></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .sec-item__content -->
                    </div>



                    <div class="sec-list__item sec-item js-notification filterall filterevents">
                        <!-- start header -->
                        <header class="sec-item__head sec-item__head--events clearfix">
                            <h1 class="sec-item__head-title  l-left">
                                Stereosonic &amp; Lost Disco
                            </h1>
                            <div class="l-right">
                                <div class="sec-item__close  icons  icons-close  js-notification-close"></div>
                            </div>
                        </header>

                        <!-- start content section -->
                        <div class="sec-item__content">
                            <div class="wrap">

                                <div class="l-left nudge-right-large">
                                    <img src="images/desktop/temp/notifications/music1.jpg" class="img-responsive" />
                                </div>

                                <div class="hide-overflow">
                                    <h2 class="sec-item__title">
                                        Lost Disco
                                    </h2>
                                    <p>
                                        <strong>Update your bank account details.</strong><br>
                                        this will help ensure you get paid promptly.
                                    </p>
                                    <button type="button" class="btn btn-typical">UPLOAD GUESTS</button>
                                </div>
                            </div>
                        </div> <!-- .sec-item__content -->
                    </div>


                </div>

                <div class="col-md-6 js-filter">


                    <div class="sec-list__item sec-item js-notification filterall filtermusic">
                        <!-- start header -->
                        <header class="sec-item__head sec-item__head--music clearfix">
                            <h1 class="sec-item__head-title  l-left">
                                <span class="nudge-right-small">Imagine</span> <span class="sec-item__head-title-em">just uploaded a new mix</span>
                            </h1>
                            <div class="l-right">
                                <div class="sec-item__close  icons  icons-close  js-notification-close"></div>
                            </div>
                        </header><!-- / header -->

                        <!-- start content section -->
                        <div class="sec-item__content">
                            <div class="wrap">

                                <div class="l-left nudge-right-large">
                                    <img src="images/desktop/temp/notifications/music1.jpg" class="img-responsive" />
                                </div>
                                <div class="hide-overflow">
                                    <h2 class="sec-item__title">
                                        Test Mix - 14-10-2014
                                    </h2>

                                    <div class="nudge-top-small">
                                        <span class="meta nudge-right-small"><img src="images/desktop/btns/notification-icons/ico-pulse.jpg" width="15" height="17" /></span>
                                        <span class="nudge-right-small">238</span>
                                        <img src="images/desktop/btns/notification-icons/ico-play.jpg" class="nudge-right-small" width="17" height="17" />
                                        <span class="nudge-right">105</span>
                                        2.3k shares
                                    </div>

                                    <ul class="flip_nav article-list__tags">
                                        <li class="article-list__tag-item">
                                            <a class="article-list__tag-link  article-list__tag-link--music" href="#">Tech House</a>
                                        </li>
                                        <li class="article-list__tag-item">
                                            <a class="article-list__tag-link  article-list__tag-link--music" href="#">Deep House</a>
                                        </li>
                                        <li class="article-list__tag-item">
                                            <a class="article-list__tag-link  article-list__tag-link--music" href="#">Techno</a>
                                        </li>
                                    </ul>

                                    <div class="sec-item__share">

                                        <div class="sec-item__share-item  nudge-right">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-share"></span></button>
                                                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-comment"></span></button>
                                            </div>
                                        </div>
                                        <a href="#"><img src="images/desktop/btns/social/btn-fb.jpg" width="32" height="32" class="sec-item__share-item" /></a><!--
                                        --><a href="#"><img src="images/desktop/btns/social/btn-twitter.jpg" width="32" height="32"class="sec-item__share-item" /></a><!--
                                        --><a href="#"><img src="images/desktop/btns/social/btn-googleplus.jpg" width="32" height="32"class="sec-item__share-item" /></a><!--
                                        --><a href="#"><img src="images/desktop/btns/social/btn-mypulse.jpg" width="32" height="32" class="sec-item__share-item" /></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .sec-item__content -->
                    </div>


                    <div class="sec-list__item sec-item js-notification filterall filterevents">
                        <!-- start header -->
                        <header class="sec-item__head sec-item__head--events clearfix">
                            <h1 class="sec-item__head-title  l-left">
                                Stereosonic &amp; Lost Disco
                            </h1>
                            <div class="l-right">
                                <div class="sec-item__close  icons  icons-close  js-notification-close"></div>
                            </div>
                        </header>

                        <!-- start content section -->
                        <div class="sec-item__content">
                            <div class="wrap">

                                <div class="l-left nudge-right-large">
                                    <img src="images/desktop/temp/notifications/music1.jpg" class="img-responsive" />
                                </div>

                                <div class="hide-overflow">
                                    <h2 class="sec-item__title">
                                        Lost Disco
                                    </h2>
                                    <p>
                                        Your event is starting soon. <a class="link-dark" href="#">Upload more guests</a> and manage your doorlist.
                                    </p>
                                    <button type="button" class="btn btn-typical">UPLOAD GUESTS</button>
                                </div>
                            </div>
                        </div> <!-- .sec-item__content -->
                    </div>


                    <div class="sec-list__item sec-item js-notification filterall filtermy-pulse">
                        <!-- start header -->
                        <header class="sec-item__head sec-item__head--words clearfix">
                            <h1 class="sec-item__head-title  l-left">
                                <span class="sec-item__head-title-em">25 people have started following you</span>
                            </h1>
                            <div class="l-right">
                                <div class="sec-item__close  icons  icons-close  js-notification-close"></div>
                            </div>
                        </header>

                        <!-- start content section -->
                        <div class="sec-item__content">
                            <div class="wrap">

                                <img src="images/desktop/temp/avatars/person1.png" alt="">
                                <img src="images/desktop/temp/avatars/person2.png" alt="">
                                <img src="images/desktop/temp/avatars/person3.png" alt="">
                                <img src="images/desktop/temp/avatars/person1.png" alt="">
                                <img src="images/desktop/temp/avatars/person2.png" alt="">
                                <img src="images/desktop/temp/avatars/person3.png" alt="">
                                <img src="images/desktop/temp/avatars/person1.png" alt="">
                                <img src="images/desktop/temp/avatars/person2.png" alt="">
                                <img src="images/desktop/temp/avatars/person-add.png" alt="">

                            </div>
                        </div> <!-- .sec-item__content -->
                    </div>

                </div>
            </div>

        </div>
        <!-- end the content area -->

    </div> <!-- .row -->
</div>
<!-- end my notifications page -->