// ==========================================================================
// Nav bar
// ==========================================================================

.nav-bar {
    background: #222;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
}