<!-- start my tickets page -->
<div id="userTicketing" class="container  snap-item  js-snap-item  js-snap-ticketing">
    <div class="row">
        <div top-Nav-Module title="{{title}}" navdata="{{navdata}}">
            {{module.content}}
        </div>

        <div class="panel">

            <div class="clearfix"></div>
            <div id="myTicketsFilter" class="panel__main">
                <div class="hidden-xs">
                    <div class="panel__title  panel__title--sm">
                        Print and present at venue or click "view ticket" to present your ticket electronically

                        <div class="l-right t-c-light">
                            Displaying page <span class="page-current">1</span> of total <span class="page-total">1</span> pages
                        </div>
                    </div>
                </div>
                <div class="wrap--large">
                    <!-- filter classes are .pastevents .upcoming-events -->
                    <div class="pastevents">
                        <article>

                            <div class="row">

                                <div class="col-md-3" style="padding-bottom: 20px;"><img src="images/desktop/temp/ticketpanel/event1.jpg" class="img-responsive"></div>

                                <div class="col-md-4">

                                    <div class="ticket__details" style="padding-bottom: 20px;">
                                        <div class="ticket__details-title">
                                            Demiurge first anniversary

                                            <br>

                                            All night DJ set
                                        </div>

                                        <div class="ticket__details-reference">
                                            <span class="em">Booking: </span>PUL12774-12680
                                        </div>

                                        <dl class="booking-details clearfix">
                                            <dt class="booking-details__title">
                                            Date:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                Wed 19 Feb 2014
                                            </dd>

                                            <dt class="booking-details__title">
                                            Ticket Type:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                Test Ticket C
                                            </dd>

                                            <dt class="booking-details__title">
                                            No.Tickets:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                2
                                            </dd>

                                            <dt class="booking-details__title">
                                            Cost:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                $6+$0.6 fee
                                            </dd>
                                        </dl>

                                        <a href="#"
                                           class="btn
                                           btn--small
                                           btn--small-alt
                                           btn--alt
                                           btn--alt-primary">
                                            <i class="icons icons-ticket-white nudge-right-small"></i>
                                            View Tickets
                                        </a>


                                    </div>

                                </div>
                                <div class="col-md-5">

                                    <div class="ticket__details">
                                        <div class="ticket__billing-title">
                                            Billing Details
                                        </div>

                                        <ul class="ticket__billing-details">
                                            <li class="ticket__billing-item">
                                                Simon Bechingham
                                            </li>
                                            <li class="ticket__billing-item">
                                                3/15 Francis
                                            </li>
                                            <li class="ticket__billing-item">
                                                Bondi, New South Wales
                                            </li>
                                            <li class="ticket__billing-item">
                                                2026 Australia
                                            </li>
                                        </ul>

                                        <div class="btn-group">
                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">
                                                <i class="icons
                                                   icons-print-dark
                                                   nudge-right-small">
                                                </i>
                                                <i class="icons
                                                   icons-print-white
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                                Print
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">
                                                <i class="icons
                                                   icons-download-dark
                                                   nudge-right-small">
                                                </i>
                                                <i class="icons
                                                   icons-download-white
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                                Download
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">
                                                <i class="icons
                                                   icons-email-dark
                                                   nudge-right-small">
                                                </i>
                                                <i class="icons
                                                   icons-email-white
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                                Email
                                            </a>
                                        </div>

                                    </div>
                                </div>



                        </article>
                    </div>




                    <!-- filter classes are .pastevents .upcoming-events -->
                    <div class="pastevents">
                        <article>

                            <div class="row">

                                <div class="col-md-3" style="padding-bottom: 20px;"><img src="images/desktop/temp/ticketpanel/event2.jpg" class="img-responsive"></div>

                                <div class="col-md-4">

                                    <div class="ticket__details" style="padding-bottom: 20px;">
                                        <div class="ticket__details-title">
                                            Demiurge first anniversary

                                            <br>

                                            All night DJ set
                                        </div>

                                        <div class="ticket__details-reference">
                                            <span class="em">Booking: </span>PUL12774-12680
                                        </div>

                                        <dl class="booking-details clearfix">
                                            <dt class="booking-details__title">
                                            Date:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                Wed 19 Feb 2014
                                            </dd>

                                            <dt class="booking-details__title">
                                            Ticket Type:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                Test Ticket C
                                            </dd>

                                            <dt class="booking-details__title">
                                            No.Tickets:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                2
                                            </dd>

                                            <dt class="booking-details__title">
                                            Cost:
                                            </dt>
                                            <dd class="booking-details__desc">
                                                $6+$0.6 fee
                                            </dd>
                                        </dl>

                                        <a href="#"
                                           class="btn
                                           btn--small
                                           btn--small-alt
                                           btn--alt
                                           btn--alt-primary">
                                            <i class="icons icons-ticket-white nudge-right-small"></i>
                                            View Tickets
                                        </a>


                                    </div>

                                </div>
                                <div class="col-md-5">

                                    <div class="ticket__details">
                                        <div class="ticket__billing-title">
                                            Billing Details
                                        </div>

                                        <ul class="ticket__billing-details">
                                            <li class="ticket__billing-item">
                                                Simon Bechingham
                                            </li>
                                            <li class="ticket__billing-item">
                                                3/15 Francis
                                            </li>
                                            <li class="ticket__billing-item">
                                                Bondi, New South Wales
                                            </li>
                                            <li class="ticket__billing-item">
                                                2026 Australia
                                            </li>
                                        </ul>

                                        <div class="btn-group">
                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">
                                                <i class="icons
                                                   icons-print-dark
                                                   nudge-right-small">
                                                </i>
                                                <i class="icons
                                                   icons-print-white
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                                Print
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">
                                                <i class="icons
                                                   icons-download-dark
                                                   nudge-right-small">
                                                </i>
                                                <i class="icons
                                                   icons-download-white
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                                Download
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">
                                                <i class="icons
                                                   icons-email-dark
                                                   nudge-right-small">
                                                </i>
                                                <i class="icons
                                                   icons-email-white
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                                Email
                                            </a>
                                        </div>

                                    </div>
                                </div>



                        </article>
                    </div>



                </div>
            </div>
        </div> <!-- .panel -->


        <div class="clearfix"></div>

    </div>
</div>
<!-- end my tickets page -->