<!-- start my pulse page -->
<div id="userMyPulse" class="container  snap-item  js-snap-item  js-snap-mypulse">
    <div class="row">
        <div top-Nav-Module title="{{title}}" navdata="{{navdata}}">
            {{module.content}}
        </div>
    </div> <!-- .row -->

    <div class="sec sec__item">
        <div class="row">

            <div class="col-sm-8" style="padding-left: 0px;">
                <div class="sec-item__content sec-item__content--full-border">
                    <div class="wrap wrap--large" style="padding: 0px !important;">
                        <section class="profile">

                            <div class="profile__img-container">
                                <img src="images/desktop/temp/mypulse/bg-ric.jpg"
                                     class="profile__img">

                                <div class="profile__social">

                                    <header class="profile__social-header">
                                        <h1 class="profile__title">
                                            Jimmy Chronic
                                        </h1>

                                        <div class="profile__rating">
                                            <i class="icons icons-dj-logo-small-light"></i>
                                            <span class="nudge-left-small">238</span>
                                            <i class="icons icons-likes-light nudge-left"></i>
                                            <span class="nudge-left-small">26</span>
                                        </div>
                                    </header> <!-- .profile__social-header -->
                                    <footer class="profile__social-footer clearfix">
                                        <div class="profile__genre">
                                            <span class="glyphicon bfh-flag-ZA"></span>
                                            <span>South Africa</span>
                                        </div>

                                        <ul class="profile__social-tools-listing">
                                            <li class="profile__social-tools-item">

                                                <div class="profile__social-tools-title t-right">
                                                    <span class="l-left">Tools</span>
                                                    <i class="icons icons-arrow-down-small-grey"></i>
                                                </div>

                                                <ul class="profile__social-tools-sub-listing">
                                                    <li class="profile__social-tools-sub-item">
                                                        <a href=""
                                                           class="profile__social-tools-link icons-child-hover">
                                                            <i class="icons icons-arrow-right-small-grey nudge-right"></i>
                                                            <i class="icons icons-arrow-right-small-grey icons--is-hover nudge-right"></i>
                                                            Edit Profile Image
                                                        </a>
                                                    </li>

                                                    <li class="profile__social-tools-sub-item">
                                                        <a href=""
                                                           class="profile__social-tools-link icons-child-hover">
                                                            <i class="icons icons-arrow-right-small-grey nudge-right"></i>
                                                            <i class="icons icons-arrow-right-small-grey icons--is-hover nudge-right"></i>
                                                            Edit Social Links
                                                        </a>
                                                    </li>

                                                    <li class="profile__social-tools-sub-item">
                                                        <a href=""
                                                           class="profile__social-tools-link icons-child-hover">
                                                            <i class="icons icons-arrow-right-small-grey nudge-right"></i>
                                                            <i class="icons icons-arrow-right-small-grey icons--is-hover nudge-right"></i>
                                                            Edit Biography
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>

                                        <ul class="profile__social-listing">
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-youtube-grey"></i>
                                                    <i class="icons icons-youtube-light icons--is-hover"></i>
                                                </a>
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-soundcloud-grey"></i>
                                                    <i class="icons icons-soundcloud-light icons--is-hover"></i>
                                                </a>
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-myspace-grey"></i>
                                                    <i class="icons icons-myspace-light icons--is-hover"></i>
                                                </a>
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-fb-grey"></i>
                                                    <i class="icons icons-fb-light icons--is-hover"></i>
                                                </a>
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-tw-grey"></i>
                                                    <i class="icons icons-tw-light icons--is-hover"></i>
                                                </a>
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-web-grey"></i>
                                                    <i class="icons icons-web-light icons--is-hover"></i>
                                                </a>
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-beatport-grey"></i>
                                                    <i class="icons icons-beatport-light icons--is-hover"></i>
                                                </a>
                                            <li class="profile__social-item">
                                                <a href=""
                                                   class="profile__social-link icons-child-hover">
                                                    <i class="icons icons-discogs-grey"></i>
                                                    <i class="icons icons-discogs-light icons--is-hover"></i>
                                                </a>
                                        </ul>

                                    </footer>
                                </div>
                            </div> <!-- .profile__img-container -->

                            <div class="profile__biography">

                                <p class="profile__biography-content profile__biography-content--headline">My Genres:</p>

                                <ul class="flip_nav2" style="margin-top: 0px !important;">
                                    <li><a href="/home">Tech House</a></li>
                                    <li><a href="/home">Deep House</a></li>
                                    <li><a href="/home">Techno</a></li>
                                </ul>

                                <p class="profile__biography-content profile__biography-content--headline">
                                    My Biography
                                </p>

                                <p class="profile__biography-content">
                                    James Cells (AKA Jimmy Chronic) is one of the hardest-working DJs in the South African club scene. His reputation and status as a crowd-rocking DJ and kick-ass producer place him at the forefront of South Africa’s underground dance music scene.

                                    <a href="#"
                                       class="profile__biography-link">
                                        show more
                                    </a>

                                </p>
                            </div>
                        </section> <!-- .profile -->
                    </div>
                </div>



            </div>
            <div class="col-sm-4" style="padding-right: 0px;">
                <!-- start sidebar -->
                <div class="sidebar__item  sec sec__item">
                    <div class="sec-item__content"> 
                        <a href="#"><img class="sec__img"
                                         src="images/desktop/btns/btn-add-follow.png"
                                         alt="placeholder">
                        </a>
                    </div>
                </div>
                <div class="sidebar__item">
                    <div class="sidebar__item-container sidebar__item-container--small">
                        <img src="images/desktop/temp/avatars//medium/1.jpg"
                             class="sidebar__item-img">
                        <div class="sidebar__item-container-copy">
                            <p class="sidebar__item-copy-headilne">
                                Sonar Festival
                            </p>
                            <p class="sidebar__item-copy-content t-uppercase">
                                Friday 12pm 10/06/14
                            </p>
                            <a href="#" class="btn btn-tertiary btn-sm nudge-top-small">
                                Buy Tickets
                            </a>
                        </div>


                    </div>

                    <div class="sidebar__item-container sidebar__item-container--tiles">

                        <ul class="sidebar__item-tiles-listing">

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/1.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/2.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/3.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/4.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/add.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                        </ul>

                    </div>

                </div>

                <!-- recent comments -->
                <div class="sidebar__item">

                    <header class="sidebar__item-header">
                        Recent comments
                    </header>

                    <div class="sidebar__item-container">
                        <img src="images/desktop/temp/avatars//small/1.jpg"
                             class="sidebar__item-img">
                        <div class="sidebar__item-container-copy">
                            <p class="sidebar__item-copy-headilne">
                                Simon beckingham
                            </p>
                            <p class="sidebar__item-copy-content">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.

                                <br>

                                34 minutes ago
                            </p>
                        </div>
                    </div>

                    <div class="sidebar__item-container">
                        <img src="images/desktop/temp/avatars//small/2.jpg"
                             class="sidebar__item-img">
                        <div class="sidebar__item-container-copy">
                            <p class="sidebar__item-copy-headilne">
                                Wade cawood
                            </p>
                            <p class="sidebar__item-copy-content">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.

                                <br>

                                34 minutes ago
                            </p>
                        </div>
                    </div>


                    <div class="sidebar__item-container">
                        <!-- using the same class as copy sections. slight symantic issue but should be fine -->
                        <img src="images/desktop/temp/avatars//small/3.jpg"
                             class="sidebar__item-img">

                        <div class="sidebar__item-container-copy">
                            <form action=""
                                  class="">
                                <label for="sidebar-activity"
                                       class="activity-form__label">
                                    Jimmy Chronic
                                </label>

                                <a href="#"
                                   class="sidebar__item-logout">
                                    Logout
                                </a>

                                <textarea id="sidebar-activity"
                                          class="sidebar-field"
                                          placeholder="Type a message here..."></textarea>

                                <!-- TODO: the button classes need to be redone -->
                                <a href="#"
                                   class="btn
                                   btn--small
                                   btn--small-alt
                                   btn--alt
                                   btn--alt-primary
                                   nudge-top">
                                    Submit
                                </a>
                            </form>
                        </div>
                    </div> <!-- .sidebar__item-container-copy -->

                    <a href="#"
                       class="sidebar__item-footer">
                        View all comments
                    </a>
                </div> <!-- .sidebar-item -->


                <div class="sidebar__item">

                    <header class="sidebar__item-header">
                        Recent activity
                    </header>

                    <div class="sidebar__item-container">
                        <img src="images/desktop/temp/avatars//small/10.jpg"
                             class="sidebar__item-img">
                        <div class="sidebar__item-container-copy">
                            <p class="sidebar__item-copy-headilne">
                                steve aoki - live @ Deep Emotions_X_Berg 30-10-2013
                            </p>
                            <p class="sidebar__item-copy-content">
                                <span class="t-uppercase">One person recommends this.</span>

                                <br>

                                34 minutes ago
                            </p>
                        </div>
                    </div>

                    <div class="sidebar__item-container">
                        <img src="images/desktop/temp/avatars//small/12.jpg"
                             class="sidebar__item-img">
                        <div class="sidebar__item-container-copy">
                            <p class="sidebar__item-copy-headilne">
                                <a href="#"
                                   class="sidebar__item-copy-headilne__link">
                                    5 friends
                                </a>
                                liked steve aoki
                            </p>
                            <p class="sidebar__item-copy-content">
                                34 minutes ago
                            </p>
                        </div>
                    </div>

                    <a href="#"
                       class="sidebar__item-footer">
                        17 more activity stories
                    </a>
                </div>

                <!-- recent comments -->
                <div class="sidebar__item">

                    <header class="sidebar__item-header">
                        Recent comments
                    </header>

                    <div class="sidebar__item-container">
                        <img src="images/desktop/temp/avatars//small/1.jpg"
                             class="sidebar__item-img">
                        <div class="sidebar__item-container-copy">
                            <p class="sidebar__item-copy-headilne">
                                Simon beckingham
                            </p>
                            <p class="sidebar__item-copy-content">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.

                                <br>

                                34 minutes ago
                            </p>
                        </div>
                    </div>

                    <div class="sidebar__item-container">
                        <img src="images/desktop/temp/avatars//small/2.jpg"
                             class="sidebar__item-img">
                        <div class="sidebar__item-container-copy">
                            <p class="sidebar__item-copy-headilne">
                                Wade cawood
                            </p>
                            <p class="sidebar__item-copy-content">
                                Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.

                                <br>

                                34 minutes ago
                            </p>
                        </div>
                    </div>


                    <div class="sidebar__item-container">
                        <!-- using the same class as copy sections. slight symantic issue but should be fine -->
                        <img src="images/desktop/temp/avatars//small/3.jpg"
                             class="sidebar__item-img">

                        <div class="sidebar__item-container-copy">
                            <form action=""
                                  class="">
                                <label for="sidebar-activity"
                                       class="activity-form__label">
                                    Jimmy Chronic
                                </label>

                                <a href="#"
                                   class="sidebar__item-logout">
                                    Logout
                                </a>

                                <textarea id="sidebar-activity"
                                          class="sidebar-field"
                                          placeholder="Type a message here..."></textarea>

                                <!-- TODO: the button classes need to be redone -->
                                <a href="#"
                                   class="btn
                                   btn--small
                                   btn--small-alt
                                   btn--alt
                                   btn--alt-primary
                                   nudge-top">
                                    Submit
                                </a>
                            </form>
                        </div>
                    </div> <!-- .sidebar__item-container-copy -->

                    <a href="#"
                       class="sidebar__item-footer">
                        View all comments
                    </a>
                </div> <!-- .sidebar-item -->
                <!-- end sidebar -->
            </div>

        </div>
    </div>
</div>
<!-- end my pulse page -->