<!--start my affiliate page -->
<div id="userMyAffiliate" class="container  snap-item  js-snap-item  js-snap-myaffiliate">
<!--Navigation-->
<div top-Nav-Module title="{{title}}" navdata="{{navdata}}">
    {{module.content}}
</div>
    <div class="row">
        <div class="container">


            <div class="panel row">
                <div class="panel__side  col-md-3">

                    <div class="wrap--large">
                        <div class="nav-content-side">

                            <div class="nav-content-side__title">
                                <img src="images/desktop/temp/mychannels/icon.jpg" width="140" height="140" /> </div>


                            <div class="nav-content-side__title">
                                My Affiliate sales
                            </div>

                            <ul class="nav-content-side__list"
                                id="navlist">
                                <li class="nav-content-side__item">
                                    <a href="#myAffiliate-overview"
                                       class="nav-content-side__link"
                                       data-toggle="tab">
                                        Summary
                                    </a>
                                </li>

                                <li class="nav-content-side__item">
                                    <a href="#myAffiliate-sales-charts"
                                       class="nav-content-side__link"
                                       data-toggle="tab">
                                        Sales Charts
                                    </a>
                                </li>

                                <li class="nav-content-side__item">
                                    <a href="#myAffiliate-payment-report"
                                       class="nav-content-side__link"
                                       data-toggle="tab">
                                        Payment Report
                                    </a>
                                </li>

                                <li class="nav-content-side__item">
                                    <a href="#myAffiliate-top-affiliates"
                                       class="nav-content-side__link"
                                       data-toggle="tab">
                                        Top Affiliates
                                    </a>
                                </li>

                                <li class="nav-content-side__item">
                                    <a href="#myAffiliate-links"
                                       class="nav-content-side__link"
                                       data-toggle="tab">
                                        Links
                                    </a>
                                </li>
                            </ul> <!-- .nav-content-side -->
                        </div> <!-- .nav-content-side -->
                    </div> <!-- .wrap -->
                </div>
                <div class="panel__main  col-md-9 myEvents-container-rhs">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="myAffiliate-overview">
                            <div class="panel__title">
                                Summary
                            </div>
                            <div class="wrap">
                                <div id="line-chart"></div>
                            </div>
                        </div> <!-- .tab-pane -->

                        <div class="tab-pane" id="myAffiliate-sales-charts">
                            <div class="panel__title"> Sales Charts </div>
                            <div class="wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>EVENT NAME</th>
                                                    <th>DATE</th>
                                                    <th>AMOUNT</th>
                                                    <th>CURRENCY</th>
                                                    <th>SOURCE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1401</td>
                                                    <td>THIS AND THAT LAB </td>
                                                    <td>THURSDAY</td>
                                                    <td>$11</td>
                                                    <td>AUS $</td>
                                                    <td>PULSE.EVENTS/1401</td>
                                                </tr>

                                                <tr>
                                                    <td>1401</td>
                                                    <td>THIS AND THAT LAB </td>
                                                    <td>THURSDAY</td>
                                                    <td>$11</td>
                                                    <td>AUS $</td>
                                                    <td>PULSE.EVENTS/1401</td>
                                                </tr>

                                                <tr>
                                                    <td>1401</td>
                                                    <td>THIS AND THAT LAB </td>
                                                    <td>THURSDAY</td>
                                                    <td>$11</td>
                                                    <td>AUS $</td>
                                                    <td>PULSE.EVENTS/1401</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .tab-pane -->

                        <div class="tab-pane" id="myAffiliate-payment-report">
                            <div class="panel__title"> Payment Report </div>
                            <div class="wrap">
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>PAY PERIOD</th>
                                                    <th>PAY DATE</th>
                                                    <th>SALES</th>
                                                    <th>DEBITS</th>
                                                    <th>RELEASE</th>
                                                    <th>ON HOLD</th>
                                                    <th>BALANCE</th>
                                                    <th>PAY OUT</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>JANUARY 2013</td>
                                                    <td>24/12/2013</td>
                                                    <td>2 SALES</td>
                                                    <td>$11</td>
                                                    <td>N/A</td>
                                                    <td>NO</td>
                                                    <td>$62</td>
                                                    <td>$60</td>
                                                </tr>
                                                <tr>
                                                    <td>JANUARY 2013</td>
                                                    <td>24/12/2013</td>
                                                    <td>2 SALES</td>
                                                    <td>$11</td>
                                                    <td>N/A</td>
                                                    <td>NO</td>
                                                    <td>$62</td>
                                                    <td>$60</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- .tab-pane -->

                        <div class="tab-pane" id="myAffiliate-top-affiliates">
                            <div class="panelHeader panelHeader--small">

                                <form class=""
                                      role="form">

                                    <div class="l-left">
                                        <label for="venu"
                                               class="panelHeader__label">
                                            Venue
                                        </label>

                                        <select class=""
                                                id="venu">
                                            <option value="" selected="selected">All</option>
                                            <option value="1">Option 1</option>
                                            <option value="2">Option 2</option>
                                        </select>
                                    </div>

                                    <ul class="export-listing l-right">
                                        <li class="export__item">
                                            <a href="" class="export__link">
                                                <i class="icons icons-xls-small nudge-right-small"></i>
                                                Export as XLS
                                            </a>
                                        </li>
                                        <li class="export__item">
                                            <a href="" class="export__link">
                                                <i class="icons icons-pdf-small nudge-right-small"></i>
                                                Export as PDF
                                            </a>
                                        </li>
                                        <li class="export__item">
                                            <input type="checkbox"
                                                   class="panelHeader__checkbox"
                                                   id="exclude-resellers"
                                                   name="exlude-resellers"
                                                   value="exclude-resellers"><!--
          
                                            --><label for="exclude-resellers"
                                                      class="export__label">
                                                Exclude resellers
                                            </label>
                                        </li>
                                    </ul> <!-- .export-listing -->
                                </form>

                            </div> <!-- end header -->
                            <div class="container-alt">

                                <div class="grid-sm grid-sm--25col">
                                    <div class="grid-sm__row">
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-title">
                                                Rank
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--8col">
                                            <div class="table-cell-title">
                                                Name
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col t-center">
                                            <div class="table-cell-title">
                                                Fan
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-title">
                                                Value
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-title">
                                                Attend
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-title">
                                                Spend.
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-title">
                                                Social
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-title">
                                                Mark
                                            </div>
                                        </div>
                                    </div> <!-- .grid-sm__row -->

                                    <div class="grid-sm__row odd">
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--1">
                                                1
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--8col">
                                            <div class="table-cell-content table-cell-content--2">
                                                <div class="fan-image">

                                                </div>
                                                <div class="fan-details">
                                                    <em class="fan-name">Michael Boudin</em>
                                                    <em class="fan-email">namesurname@gmail.com</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--3">
                                                <i class="icons icons-fan-logo-active icons--fan-active"></i>
                                                <i class="icons icons-fan-logo-inactive icons--fan-inactive"></i>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--4">
                                                <em class="fan-value">$3,560</em>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-content table-cell-content--5">
                                                <div class="fan-bar">
                                                    <div class="fill fill--attend"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-content table-cell-content--6">
                                                <div class="fan-bar">
                                                    <div class="fill fill--spend"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-content table-cell-content--7">
                                                <div class="fan-bar">
                                                    <div class="fill fill--social"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--8">
                                                <i class="icons icons-fan-mark-active icons--fan-mark-active"></i>
                                                <i class="icons icons-fan-mark-inactive icons--fan-mark-inactive"></i>
                                            </div>
                                        </div>
                                    </div> <!-- .grid-sm__row -->

                                    <div class="grid-sm__row">
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--1">
                                                2
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--8col">
                                            <div class="table-cell-content table-cell-content--2">
                                                <div class="fan-image">

                                                </div>
                                                <div class="fan-details">
                                                    <em class="fan-name">Michael Boudin</em>
                                                    <em class="fan-email">namesurname@gmail.com</em>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--3 is-active">
                                                <i class="icons icons-fan-logo-active icons--fan-active"></i>
                                                <i class="icons icons-fan-logo-inactive icons--fan-inactive"></i>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--4">
                                                <em class="fan-value">$3,560</em>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-content table-cell-content--5">
                                                <div class="fan-bar">
                                                    <div class="fill fill--attend"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-content table-cell-content--6">
                                                <div class="fan-bar">
                                                    <div class="fill fill--spend"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--3col">
                                            <div class="table-cell-content table-cell-content--7">
                                                <div class="fan-bar">
                                                    <div class="fill fill--social"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-sm__cell grid-sm__cell--2col">
                                            <div class="table-cell-content table-cell-content--8 is-active">
                                                <i class="icons icons-fan-mark-active icons--fan-mark-active"></i>
                                                <i class="icons icons-fan-mark-inactive icons--fan-mark-inactive"></i>
                                            </div>
                                        </div>
                                    </div> <!-- .grid-sm__row -->
                                </div>
                            </div> <!-- .container-alt -->
                        </div> <!-- .tab-pane -->

                        <div class="tab-pane" id="myAffiliate-links">
                            <div class="panel__title">
                                Links
                            </div>
                            <div class="wrap">
                                myAffiliate-links
                            </div>
                        </div> <!-- .tab-pane -->

                    </div> <!-- .tab-content -->
                </div> <!-- .panel__main -->
            </div> <!-- .tab -->
        </div> <!-- .container -->
    </div> <!-- .row -->
</div>
<!-- end my affiliate page -->