<div id="userMenuSide" style="width: 200px;float: left;margin-left: 60px">


    <div class="drwr-left__nav">

        <div class="drwr-left__title-container js-side-nav-item" data-name="mypulsedashboard">
            <h1 style="width: 95%;" class="drwr-left__title">
                my <span class="drwr-left__title-em  drwr-left__title-em--words">pulse</span>
                <img alt="Avatar" src="images/mobile/menus/mypulse/avi.png" class="avatar l-right">
            </h1>
        </div>

        <ul  class="drwr-left__nav-list" >

            <li class="drwr-left__nav-item">
                <a href ng-click="link('My events and token para 123','/myevents')" class="drwr-left__nav-link"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;My Events</a>
            </li>

            <li class="drwr-left__nav-item" data-name="myaffiliate">
                <a href ng-click="link('My affiliates and token para 123','/affiliates')" class="drwr-left__nav-link"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;My Affiliates</a>
            </li>

            <li class="drwr-left__nav-item js-side-nav-item" data-name="ticketing">
                <a href ng-click="link('My tickets and token para 123','/tickets')" class="drwr-left__nav-link"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;My Tickets</a>
            </li>

            <li class="drwr-left__nav-item js-side-nav-item" data-name="mypulse">
                <a href ng-click="link('My mypulse and token para 123','/mypulse')" class="drwr-left__nav-link"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;My Channel</a>
            </li>

            <li class="drwr-left__nav-item js-side-nav-item" data-name="notifications">
                <a href ng-click="link('My notifications and token para 123','/notifications')" class="drwr-left__nav-link"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;My Notifications</a>
            </li>


            <li class="drwr-left__nav-item js-side-nav-item" data-name="settings">
                <a href ng-click="link('My settings and token para 123','/settings')" class="drwr-left__nav-link"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a>
            </li>

            <li class="drwr-left__nav-item">

                <a href ng-click="logout()" class="drwr-left__nav-link"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Logout</a>

            </li>

            <!--<div class="nav-side__item  nav-side__item--settings  js-side-nav-item"
             data-name="settings"
             data-toggle="tooltip"
             title="My Settings">
                <div class="nav-side__item-icon  nav-side__item-icon--general nav-side__item-icon--settings  icons  icons-settings">
                </div>
            </div>-->


        </ul>

    </div>

</div>