<div class="site-search  js-site-search">

    <div class="site-search__bg"></div>
    <div class="site-search__close  js-site-search-close">
        <i class="icons icons-search-close"></i>
    </div>
    <div class="site-search__container">
        <div class="site-search__header">
            <div class="site-search__title">
                <span class="site-search__title-highlight-1">
                    Search
                </span>
                Pulse Radio
                <span class="site-search__title-highlight-2">
                    start typing...
                </span>
            </div>
            <input type="text"
                   class="site-search__input"
                   placeholder="Search">
        </div> <!-- .site-search__header -->

        <div class="row">
            <div class="col-sm-3  site-search__col">
                <div class="site-search__col-title">
                    Pulse Channels
                </div>
                <div class="site-search__list">
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon">

                        </div>
                        <div class="site-search__list-item-text">
                            Steve Aoki
                        </div>
                    </div>
                </div> <!-- .site-search__list -->
            </div> <!-- .col-sm-3 -->
            <div class="col-sm-3  site-search__col">
                <div class="site-search__col-title">
                    Mixes
                </div>
                <div class="site-search__list">
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon">
                            <i class="site-search__list-item-img  icons  icons-play-alt"></i>
                        </div>
                        <div class="site-search__list-item-text">
                            Steve Aoki MWC Mix 26.03.10
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon">
                            <i class="site-search__list-item-img  icons  icons-play-alt"></i>
                        </div>
                        <div class="site-search__list-item-text">
                            Essential Mix: 27.10.12 Steve Aoki
                        </div>
                    </div>

                </div> <!-- .site-search__list -->
            </div> <!-- .col-sm-3 -->
            <div class="col-sm-3  site-search__col">
                <div class="site-search__col-title">
                    Content

                    <div class="site-search__col-title-btn">
                        See more
                        <span class="site-search__col-title-arrow">
                            &gt;
                        </span>
                    </div>
                </div>
                <div class="site-search__list">
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Bob Lefsetz Lets Rip Into Live Nation for Reality TV Show
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            More Funny DJ 'Vinestagrams'
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Listen: Steve Aoki Collaborates With Rock Group Linkin Park
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            America's Best DJ Results Revealed with Kaskade, Diplo &amp; Skrillex in...
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Watch: Tomorrowland Releases Festival After Movie
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Watch: A Trak, Steve Aoki &amp; More Warn of Dangers of Ecstasy
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Steve Aoki Caught Using Pirated Synths
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Carl Cox confirmed for New Years Eve in Cape Town
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Who Are The Highest Paid DJs In The World In 2013?
                        </div>
                    </div>
                    <div class="site-search__list-item">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            DJ Awards Nominees Announced For 2013
                        </div>
                    </div>
                </div> <!-- .site-search__list -->
            </div> <!-- .col-sm-3 -->
            <div class="col-sm-3  site-search__col">
                <div class="site-search__col-title">
                    Events
                </div>
                <div class="site-search__list">
                    <div class="site-search__list-item  site-search__list-item--no-hover">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Electric Zoo 2013 - Day 3<br>
                            <div class="site-search__list-btn  btn  btn-sm">BUY NOW</div>
                        </div>
                    </div>
                    <div class="site-search__list-item  site-search__list-item--no-hover">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            ULTRA EUROPE<br>
                            <div class="site-search__list-btn  btn  btn-sm">BUY NOW</div>
                        </div>
                    </div>
                    <div class="site-search__list-item  site-search__list-item--no-hover">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Together at Amnesia Ibiza<br>
                            <div class="site-search__list-btn  btn  btn-sm">BUY NOW</div>
                        </div>
                    </div>
                    <div class="site-search__list-item  site-search__list-item--no-hover">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Together at Amnesia Ibiza<br>
                            <div class="site-search__list-btn  btn  btn-sm">BUY NOW</div>
                        </div>
                    </div>
                    <div class="site-search__list-item  site-search__list-item--no-hover">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Together at Amnesia Ibiza<br>
                            <div class="site-search__list-btn  btn  btn-sm">BUY NOW</div>
                        </div>
                    </div>
                    <div class="site-search__list-item  site-search__list-item--no-hover">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            Together at Amnesia Ibiza<br>
                            <div class="site-search__list-btn  btn  btn-sm">BUY NOW</div>
                        </div>
                    </div>
                    <div class="site-search__list-item  site-search__list-item--no-hover">
                        <div class="site-search__list-item-icon"></div>
                        <div class="site-search__list-item-text">
                            MAGNETIC festival<br>
                            <div class="site-search__list-btn  btn  btn-sm">BUY NOW</div>
                        </div>
                    </div>
                </div>
            </div> <!-- .col-sm-3 -->
        </div> <!-- .row -->
    </div> <!-- .site-search__container -->
</div>