<div class="footer">
    <div class="footer__text">
        <div class="footer__item">
            Copyright &copy; PulseRadio 2013 .
        </div>
        <div class="footer__item">
            <a class="footer__link" href="#">
                Terms &amp; Conditions
            </a> .
        </div>
        <div class="footer__item">
            <a class="footer__link" href="#">
                Privacy Policy
            </a>
        </div>
        <div class="footer__item">
            <a href="#">
                <i class="icons icons-fb o-10"></i>
            </a>
        </div>
        <div class="footer__item">
            <a href="#">
                <i class="icons icons-tw o-10"></i>
            </a>
        </div>
        <div class="footer__item">
            <a href="#">
                <i class="icons icons-gplus o-10"></i>
            </a>
        </div>
    </div> <!-- .footer__text -->
</div> <!-- .footer -->