<!-- start cart checkout page -->
<div id="userCart" class="container  snap-item  snap-item  js-snap-item  js-snap-cart">

   
    
     <div class="sec-item__content sec-item__content--full-border">
         
         <div class="inner-header clearfix">
            <div class="inner-header__number">
                01
            </div>
            <div class="inner-header__copy">
                Event details <span class="field-required">*</span>
            </div>
        </div>
         
         
                <div class="wrap wrap--large">
                    <div class="article">

                        <h1 class="article__title">
                            Desolat presents Troxler, Maceo Plex And More At LWE Tobacco Dock NYD
                        </h1>






                        <div class="row">
                            <div class="col-md-5">
                                <div>
                                    <img src="images/desktop/temp/event-listing/flyer.jpg"  alt=""
                                         class="img-responsive"/>
                                </div>

                                <div class="btn-group btn-group-sm clearfix nudge-top" style="margin-top: 20px;">
                                    <div class="btn btn-default" style="font-size: 13px !important; padding: 7px 30px; width: 50%;">
                                        <a href="javascript:;">Going</a>
                                    </div>

                                    <div class="btn btn-default" style="font-size: 13px !important; padding: 7px 30px; width: 50%;">
                                        <a href="javascript:;">Maybe</a>
                                    </div>
                                </div>

                                <div class="attendance-overview" style="margin-top:20px;">
                                    <ul class="attendance-overview-listing attendance-overview-listing--going">
                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                Going (312)
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <i class="icons icons-add-small-gradient"></i>
                                            </a>

                                    </ul>

                                    <ul class="attendance-overview-listing attendance-overview-listing--maybe">
                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                Maybe (312)
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <i class="icons icons-add-small-gradient"></i>
                                            </a>

                                    </ul>

                                    <ul class="attendance-overview-listing attendance-overview-listing--invited">
                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                Invited (312)
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <i class="icons icons-add-small-gradient"></i>
                                            </a>
                                    </ul>
                                </div> <!-- .attendance-overview -->


                            </div>


                            <div class="col-md-7">

                                <h3>TICKETS</h3>

                                <div class="row">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>TYPE</th>
                                                <th>PRICE</th>
                                                <th>FEE</th>
                                                <th>TOTAL</th>
                                                <th>QUANITY</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>1st Release</td>
                                                <td>$45.00</td>
                                                <td>$4.50</td>
                                                <td>$49.50</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>2nd Release</td>
                                                <td>$55.00</td>
                                                <td>$5.50</td>
                                                <td>$60.50</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>3rd Release</td>
                                                <td>$60.00</td>
                                                <td>$6.00</td>
                                                <td>$66.00</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Vip GA</td>
                                                <td>$100.00</td>
                                                <td>$10.00</td>
                                                <td>$110.00</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <center><img src="images/desktop/payment/payments.png" alt=""></center>

                                <div class="clearfix" style="margin-top: 20px"></div>

                                <a href class="cta-large">
                                    Buy tickets
                                </a>

                                <div class="ugc">

                                    <h2>Information</h2>

                                    <p>Last weekend brought with it the annual meeting of musical minds that make up the MUTEK electronic music and digital arts festival. This the 14th installment of the festival that annually takes over a variety of institutionalized venues </p>

                                    <p>throughout Montreal. MUTEK’s mode of operation always seems to be same, as it consistently brings with it the element of surprise. The programming is meant to keep everyone guessing. Still, the backbone of the festival remains the same with its consistency. Every year the organizers provide a consistent string of panels and music programming that always ups the ante of years past, never bound by genre restrictions or any other boundary for that matter. This year was no different, in fact, with one look at the lineup, most would admit this year’s program was the most adventurous to date.</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .sec -->

</div>
<!-- end cart checkout page -->