<div class="sec-list js-sec-list">
    <div class="sec-list__col  js-sec-list-col">
        <div class="sec-list__col-wrap  js-filter  js-eventsFilter">

            <!-- start event column items -->


            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterwords filtertrending">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words3.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>




                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="article-listing.php" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="article-detail.php" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>


                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->



            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterwords filtertrending">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words1.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>




                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="article-listing.php" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="article-detail.php" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>


                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->


            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterwhatshot filterwords filterlatest filtermypulse">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words2.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>






                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="article-listing.php" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="article-detail.php" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>



                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->


        </div> <!-- .sec-list__col-wrap -->
    </div> <!-- .sec-list__col -->

    <div class="sec-list__col  sec-list__col--md-medium  js-sec-list-col">
        <div class="sec-list__col-wrap  js-filter  js-musicFilter">


            <!-- start advertising block -->

            <div class="filterwhatshot filtermusic filtermypulse">
                <article>
                    <div class="container">
                        <div class="row hidden-xs" style="margin-top:10px; margin-left: -10px; margin-right: 0px; padding-bottom:10px;">
                            <a href="#"><img src="./images/desktop/banners/pointblank.gif"></a>
                        </div>
                        <div class="row visible-xs" style="margin-top:10px; margin-right: 0px; padding-bottom:10px;">
                            <a href="#"><img src="./images/desktop/banners/pointblank.gif"></a>
                        </div>
                    </div>
                </article>
            </div>
            <!-- end advertising block -->
            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterwords filtertrending">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words3.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>




                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="article-listing.php" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="article-detail.php" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>


                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->

            <!-- start advertising block -->
            <div class="filterwhatshot filtermusic filtermypulse">
                <article>
                    <div class="row hidden-xs" style="margin-top:10px; padding-bottom:10px;">
                        <a href="#"><img src="./images/desktop/banners/10948572128404681408.jpg"></a>
                    </div>
                    <div class="row visible-xs" style="margin-top:10px; margin-right: 0px; padding-bottom:10px;">
                        <center><a href="#"><img src="./images/desktop/banners/10948572128404681408.jpg"></a></center>
                    </div>
                </article>
            </div>
            <!-- end advertising block -->


        </div> <!-- .sec-list__col-wrap -->
    </div> <!-- .sec-list__col -->

    <div class="sec-list__col sec-list__col--md-large  js-sec-list-col">
        <div class="sec-list__col-wrap  js-filter  js-wordsFilter">

            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterwords filtertrending">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words1.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>




                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="article-listing.php" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="article-detail.php" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>


                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->


            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterlatest filterwords filtertrending">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words3.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>




                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="article-listing.php" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="article-detail.php" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>


                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->


            <!-- start words item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div class="filterwhatshot filterwords filterlatest filtermypulse">
                <article>

                    <div class="sec-list__item  js-sec-list-item  sec-list__item--md-large">
                        <div class="sec sec-item">

                            <div class="sec__figure">
                                <img class="sec__img" src="images/desktop/temp/words2.jpg">

                                <div class="sec__figure-overlay">
                                    <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                    <div class="sec__caption-container">
                                        <div class="sec__caption">
                                            <div class="wrap">

                                                <a class="btn
                                                   btn--words-slider" href="#">
                                                    <i class="icons icons-dj-logo dj-logo"></i>
                                                    add to my pulse
                                                </a>



                                            </div>
                                        </div> <!-- .sec__caption -->
                                    </div> <!-- .sec__caption-container -->
                                </div> <!-- .sec__figure-overlay -->
                            </div>






                            <div class="sec-item__content">
                                <div class="wrap">
                                    <h2 class="sec__sub-title">
                                        <a href="article-listing.php" style="color:#000;">Festivals</a>
                                    </h2>
                                    <h1 class="sec__title">
                                        <a href="article-detail.php" style="color:#000;">Desolat Now Joining Troxler, Maceo Plex And More At LWE Tobacco Dock NYD</a>
                                    </h1>



                                    <!-- metadata -->
                                    <h5 class="tags" style="margin-bottom: 0px !important;">Tags:</h5>

                                    <ul class="flip_nav2" style="margin-top: 0px !important;">
                                        <li><a href="/home">Tech House</a></li>
                                        <li><a href="/home">Deep House</a></li>
                                        <li><a href="/home">Techno</a></li>
                                    </ul>

                                    <p class="sec__text">Joining the Desolat crew will be none other than Seth Troxler, Maceo Plex, Heidi and more, with tINI also playing a set in the LWE room along with Mobilee's Anja Schneider - all this to make sure you start the... first day of 2014 in proper style. Check out this teaser video to get nice and excited!</p>

                                    <!-- start share block -->
                                    <div class="clearfix"></div>
                                    <div class="row wordsShare">

                                        <!--                                                <div class="col-xs-4 col-md-2">
                                                                                            <div class="share-block">
                                                                                                <span class="share-button">SHARE</span>
                                                                                            </div>
                                                                                        </div>-->
                                        <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>
                                        <div class="col-xs-4 col-md-2" style="padding-top: 8px; padding-right: 0px;">
                                            <img src="images/desktop/btns/icon-article-pulse.jpg" width="20" height="19">
                                            <span>234</span>
                                        </div>
                                        <div class="col-xs-4 col-md-3" style="padding-top: 8px;">
                                            <img src="images/desktop/btns/icon-article-likes.jpg" width="27" height="19">
                                            <span>234</span>
                                        </div>
                                    </div>
                                    <!-- end share block -->


                                </div> <!-- .wrap -->
                            </div> <!-- .sec__content -->
                        </div>
                    </div> <!-- .sec-list__item -->

                </article>
            </div>
            <!-- end words item -->

        </div>  <!-- .sec-list__col-wrap -->
    </div> <!-- .sec-list__col -->

</div> <!-- .sec-list -->