<div class="sec sec__item">
    <div class="row">

        <div class="col-sm-12" style="margin-top: -10px;">
            <div class="nav-header  hidden-xs  clearfix">
                <div class="nav-header__title  l-left">
                    Music &gt; <em class="nav-header__title-em">Podcasts</em>
                </div>

            </div>
        </div>

        <div class="col-sm-8" style="margin-top: -10px;">


            <div class="row">

                <div class="col-md-8">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/featured.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="4" class="colBlue">Play</a> / <a href="#" class="colBlue">Queue</a>
                                                            <hr>

                                                            <a href="#">
                                                                <img src="framework/images/desktop/btns/btn-hoverpanel-fb.png"
                                                                     width="25"
                                                                     height="27"
                                                                     class="mtop10">
                                                            </a>
                                                            <a href="#">
                                                                <img src="framework/images/desktop/btns/btn-hoverpanel-tw.png"
                                                                     width="30"
                                                                     height="27"
                                                                     class="mtop10">
                                                            </a>
                                                            <a href="#">
                                                                <img src="framework/images/desktop/btns/btn-hoverpanel-mypulse.png"
                                                                     width="27"
                                                                     height="27"
                                                                     class="mtop10">
                                                            </a>
                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-detail.php" style="color:#000;">LATEST PODCAST</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="channel-detail.php" style="color:#000;">Yousef</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>
                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/dubfire.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="1" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                            <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                            <a class="btn
                                                               btn--music-slider" href="#">
                                                                <i class="icons icons-dj-logo dj-logo"></i>
                                                                Follow
                                                            </a>



                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-listing.php" style="color:#000;">PODCASTS</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="podcast-detail.php" style="color:#000;">Yousef</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>

                                                <!-- start share block -->
                                                <div class="clearfix"></div>
                                                <div class="row" style="margin-top:15px; margin-left: 0px;">

                                                    <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                                </div>
                                                <!-- end share block -->

                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/kink.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="2" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                            <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                            <a class="btn
                                                               btn--music-slider" href="#">
                                                                <i class="icons icons-dj-logo dj-logo"></i>
                                                                Follow
                                                            </a>



                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-listing.php" style="color:#000;">PODCASTS</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="podcast-detail.php" style="color:#000;">Kink</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>

                                                <!-- start share block -->
                                                <div class="clearfix"></div>
                                                <div class="row" style="margin-top:15px; margin-left: 0px;">

                                                    <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                                </div>
                                                <!-- end share block -->

                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/softwar.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="3" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                            <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                            <a class="btn
                                                               btn--music-slider" href="#">
                                                                <i class="icons icons-dj-logo dj-logo"></i>
                                                                Follow
                                                            </a>


                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-listing.php" style="color:#000;">PODCASTS</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="channel-detail.php" style="color:#000;">Softwar</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>

                                                <!-- start share block -->
                                                <div class="clearfix"></div>
                                                <div class="row" style="margin-top:15px; margin-left: 0px;">

                                                    <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                                </div>
                                                <!-- end share block -->

                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/dubfire.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="1" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                            <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                            <a class="btn
                                                               btn--music-slider" href="#">
                                                                <i class="icons icons-dj-logo dj-logo"></i>
                                                                Follow
                                                            </a>



                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-listing.php" style="color:#000;">PODCASTS</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="podcast-detail.php" style="color:#000;">Yousef</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>

                                                <!-- start share block -->
                                                <div class="clearfix"></div>
                                                <div class="row" style="margin-top:15px; margin-left: 0px;">

                                                    <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                                </div>
                                                <!-- end share block -->

                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/kink.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="2" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                            <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                            <a class="btn
                                                               btn--music-slider" href="#">
                                                                <i class="icons icons-dj-logo dj-logo"></i>
                                                                Follow
                                                            </a>



                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-listing.php" style="color:#000;">PODCASTS</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="podcast-detail.php" style="color:#000;">Kink</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>

                                                <!-- start share block -->
                                                <div class="clearfix"></div>
                                                <div class="row" style="margin-top:15px; margin-left: 0px;">

                                                    <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                                </div>
                                                <!-- end share block -->

                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/softwar.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="3" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                            <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                            <a class="btn
                                                               btn--music-slider" href="#">
                                                                <i class="icons icons-dj-logo dj-logo"></i>
                                                                Follow
                                                            </a>


                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-listing.php" style="color:#000;">PODCASTS</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="channel-detail.php" style="color:#000;">Softwar</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>

                                                <!-- start share block -->
                                                <div class="clearfix"></div>
                                                <div class="row" style="margin-top:15px; margin-left: 0px;">

                                                    <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                                </div>
                                                <!-- end share block -->

                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <div class="filterwhatshot filtermusic filtermypulse">
                            <article>
                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/dubfire.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" data-item="1" class="colBlue">Play</a> / <a href="#" class="colBlue">Cue</a>

                                                            <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                            <a class="btn
                                                               btn--music-slider" href="#">
                                                                <i class="icons icons-dj-logo dj-logo"></i>
                                                                Follow
                                                            </a>



                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>

                                        <div class="sec-item__content">
                                            <div class="wrap">
                                                <h2 class="sec__sub-title">
                                                    <a href="podcast-listing.php" style="color:#000;">PODCASTS</a>
                                                </h2>
                                                <h1 class="sec__title">
                                                    <a href="podcast-detail.php" style="color:#000;">Yousef</a>
                                                </h1>
                                                <h3 class="sec__text">
                                                    The Circus Recordings boss live from his Circus London night, "mixed on 3 decks with no... 
                                                </h3>

                                                <!-- start share block -->
                                                <div class="clearfix"></div>
                                                <div class="row" style="margin-top:15px; margin-left: 0px;">

                                                    <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                                </div>
                                                <!-- end share block -->

                                            </div> <!-- .wrap -->
                                        </div> <!-- .sec__content -->
                                    </div>
                                </div> <!-- .sec-list__item -->
                            </article>
                        </div>
                        <!-- end music item -->
                    </div>
                </div>

            </div>
            <!-- .row -->
        </div>

        <div class="col-sm-4 hidden-xs">
            <!-- start sidebar -->

            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div>
                <article>
                    <div class="sec sec-item">
                        <div class="sidebar-gallery" data-dot_navigation="false" data-theme="light" data-auto-flick-delay="6">
                            <ul>
                                <li>
                                    <img class="img-responsive" src="images/desktop/temp/sidebar-gallery/gallery-3.jpg">
                                </li>
                                <li>
                                    <img class="img-responsive" src="images/desktop/temp/sidebar-gallery/gallery-2.jpg">
                                </li>
                                <li>
                                    <img class="img-responsive" src="images/desktop/temp/sidebar-gallery/gallery-1.jpg">
                                </li>
                            </ul>

                            <!-- .sec__figure-overlay -->
                        </div>

                        <div class="sec-item__content">
                            <div class="wrap">
                                <h2 class="sec__sub-title">
                                    <a href="podcast-listing.php" style="color:#000;">Gallery</a>
                                </h2>
                                <h1 class="sec__title">
                                    <a href="channel-detail.php" style="color:#000;">Agwa Yacht Party</a>
                                </h1>
                                <h3 class="sec__text">
                                    Featuring Cassy &amp; Mario Bassanov in Sydney Australia.
                                </h3>
                            </div> <!-- .wrap -->
                        </div> <!-- .sec__content -->
                    </div>
                </article>
                <!-- end music item -->
            </div>

            <div class="sidebar__item  sec sec__item">
                <div class="sidebar__tabs  clearfix">
                    <a data-toggle="tab" href="#tab-featured-mixes" class="sidebar__tab-item  sidebar__tab-item--active">
                        Featured Mixes
                    </a>
                    <a data-toggle="tab" href="#tab-trending-mixes" class="sidebar__tab-item">
                        Trending Mixes
                    </a>
                </div> <!-- .sidebar__tabs -->

                <div class="sec-item__content  sec-item__content--full-border  tab-content">
                    <div id="tab-featured-mixes" class="sidebar__tab-pane  tab-pane active">

                        <div class="sidebar__tab-content">
                            <div class="wrap wrap--small">
                                <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                <div class="sidebar__tab-content-wrap">
                                    <h1 class="sidebar__tab-content-title">
                                        BORIS BREJCHA<br>
                                        HIGH TECH MINIMAL
                                    </h1>
                                    <div class="sidebar__tab-content-meta">
                                        Thursday 12pm 19/06/14
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm" href="#">
                                            Play now
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- .wrap -->
                        </div> <!-- .sidebar__tab-content -->

                        <div class="sidebar__tab-content">
                            <div class="wrap wrap--small">
                                <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                <div class="sidebar__tab-content-wrap">
                                    <h1 class="sidebar__tab-content-title">
                                        BORIS BREJCHA<br>
                                        HIGH TECH MINIMAL
                                    </h1>
                                    <div class="sidebar__tab-content-meta">
                                        Thursday 12pm 19/06/14
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm" href="#">
                                            Play now
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- .wrap -->
                        </div> <!-- .sidebar__tab-content -->

                        <div class="sidebar__tab-content">
                            <div class="wrap wrap--small">
                                <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                <div class="sidebar__tab-content-wrap">
                                    <h1 class="sidebar__tab-content-title">
                                        BORIS BREJCHA<br>
                                        HIGH TECH MINIMAL
                                    </h1>
                                    <div class="sidebar__tab-content-meta">
                                        Thursday 12pm 19/06/14
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm" href="#">
                                            Play now
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- .wrap -->
                        </div> <!-- .sidebar__tab-content -->

                    </div> <!-- .sidebar__tab-pane -->
                    <div id="tab-trending-mixes" class="sidebar__tab-pane  tab-pane">

                        <div class="sidebar__tab-content">
                            <div class="wrap wrap--small">
                                <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                <div class="sidebar__tab-content-wrap">
                                    <h1 class="sidebar__tab-content-title">
                                        NORIS BREJCHA<br>
                                        HIGH TECH MINIMAL
                                    </h1>
                                    <div class="sidebar__tab-content-meta">
                                        Thursday 12pm 19/06/14
                                    </div>
                                    <div>
                                        <a class="btn btn-tertiary btn-sm" href="#">
                                            Play now
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- .wrap -->
                        </div> <!-- .sidebar__tab-content -->

                        <div class="sidebar__tab-content">
                            <div class="wrap wrap--small">
                                <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                <div class="sidebar__tab-content-wrap">
                                    <h1 class="sidebar__tab-content-title">
                                        NORIS BREJCHA<br>
                                        HIGH TECH MINIMAL
                                    </h1>
                                    <div class="sidebar__tab-content-meta">
                                        Thursday 12pm 19/06/14
                                    </div>
                                    <div>
                                        <a class="btn btn-tertiary btn-sm" href="#">
                                            Play now
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- .wrap -->
                        </div> <!-- .sidebar__tab-content -->

                        <div class="sidebar__tab-content">
                            <div class="wrap wrap--small">
                                <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                <div class="sidebar__tab-content-wrap">
                                    <h1 class="sidebar__tab-content-title">
                                        NORIS BREJCHA<br>
                                        HIGH TECH MINIMAL
                                    </h1>
                                    <div class="sidebar__tab-content-meta">
                                        Thursday 12pm 19/06/14
                                    </div>
                                    <div>
                                        <a class="btn btn-tertiary btn-sm" href="#">
                                            Play now
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- .wrap -->
                        </div> <!-- .sidebar__tab-content -->

                    </div>
                </div>
            </div>

            <!-- .banner -->
            <div class="sidebar__item  sec sec__item">
                <div class="sec-item__content">
                    <img class="sec__img"
                         src="images/desktop/sidebar/placeholder-2.png"
                         alt="placeholder">
                </div>
            </div>
            <!-- end sidebar -->
        </div>
    </div>

</div>