<div class="nav-header  hidden-xs  clearfix  js-nav-filter">
    <div class="nav-header__title  l-left">
        Events >
        <em class="nav-header__title-em">What's on</em>
    </div>

    <ul class="nav-header__list  nav-header__list--center  option-set  clearfix  js-filters js-nav-filter" data-option-key="filter">
        <li class="nav-header__item  js-filter-item"
            data-option-value=".filterlatest">
            <a class="nav-header__link"
               href="#filter">
                Latest
            </a>
        </li>

        <li class="nav-header__item  js-filter-item"
            data-option-value=".filtertrending">
            <a class="nav-header__link"
               href="#filter">
                Trending
            </a>
        </li>
        <li class="nav-header__item  js-filter-item"
            data-option-value=".filterwhatshot">
            <a class="nav-header__link"
               href="#filter">
                What's Hot
            </a>
        </li>
        <li class="nav-header__item  js-filter-item"
            data-option-value=".filtermypulse">
            <a class="nav-header__link"
               href="#filter">
                My Pulse
            </a>
        </li>
    </ul>
</div> <!-- .nav-header -->

<div class="sec sec__item">
    <div class="row">



        <div class="col-sm-8" style="margin-top: -10px;">



            <div class="row">

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <article>

                            <div class="sec-list__item  js-sec-list-item ">

                                <div class="sec sec-item">

                                    <div class="sec__figure">
                                        <img class="sec__img" src="images/desktop/temp/hp-event1.png">

                                        <div class="sec__figure-overlay">
                                            <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                            <div class="sec__caption-container">
                                                <div class="sec__caption">
                                                    <div class="wrap">
                                                        <a href="event-detail.php" class="colYellow">BUY TICKETS</a>

                                                        <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                        <a class="btn
                                                           btn--event-slider" href="#">
                                                            <i class="icons icons-dj-logo dj-logo"></i>
                                                            Going
                                                        </a>




                                                    </div>
                                                </div> <!-- .sec__caption -->
                                            </div> <!-- .sec__caption-container -->
                                        </div> <!-- .sec__figure-overlay -->
                                    </div>

                                    <div class="sec-item__content">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                <a href="event-listing-landing-grid.php" style="color:#000;">Top Picks</a>
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="event-detail.php" style="color:#000;">Balance: Nick Warren</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Thursday 07am 19/06/14
                                            </h3>



                                            <div class="btn-group btn-group-sm clearfix nudge-top eventBtns">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>

                                            <!-- start share block -->
                                            <div class="clearfix"></div>
                                            <div class="row" style="margin-top:15px; margin-left: -10px;">

                                                <div class="share-button" data-url="http://www.pulseradio.net" data-text="Circoloco Australia - pulseradio.net" data-title="share"></div>

                                            </div>
                                            <!-- end share block -->

                                        </div> <!-- .wrap -->

                                    </div> <!-- .sec__content -->
                                </div>                         

                            </div> <!-- .sec-list__item -->

                        </article>
                    </div>
                    <!-- end event item -->
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div class="filterlatest filterevents filterwhatshot">
                        <article>

                            <div class="sec-list__item  js-sec-list-item ">

                                <div class="sec sec-item">

                                    <div class="sec__figure">
                                        <img class="sec__img" src="images/desktop/temp/hp-event2.png">

                                        <div class="sec__figure-overlay">
                                            <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                            <div class="sec__caption-container">
                                                <div class="sec__caption">
                                                    <div class="wrap">
                                                        <a href="event-detail.php" class="colYellow">BUY TICKETS</a>

                                                        <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                        <a class="btn
                                                           btn--event-slider" href="#">
                                                            <i class="icons icons-dj-logo dj-logo"></i>
                                                            Going
                                                        </a>



                                                    </div>
                                                </div> <!-- .sec__caption -->
                                            </div> <!-- .sec__caption-container -->
                                        </div> <!-- .sec__figure-overlay -->
                                    </div>

                                    <div class="sec-item__content">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                Club Mixes
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="event-detail.php" style="color:#000;">Balance: Nick Warren</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Thursday 07am 19/06/14
                                            </h3>

                                            <div class="btn-group btn-group-sm clearfix eventBtns" style="margin-top: 10px;">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>

                                            <!-- start share block -->
                                            <div class="clearfix"></div>
                                            <div class="row" style="margin-top:15px; margin-left: -10px;">

                                                <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                            </div>
                                            <!-- end share block -->

                                        </div> <!-- .wrap -->
                                    </div> <!-- .sec__content -->
                                </div>
                            </div> <!-- .sec-list__item -->

                        </article>
                    </div>
                    <!-- end event item -->
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div class="filterlatest filterevents filtermypulse">
                        <article>

                            <div class="sec-list__item  js-sec-list-item ">

                                <div class="sec sec-item">

                                    <div class="sec__figure">
                                        <img class="sec__img" src="images/desktop/temp/hp-event3.png">

                                        <div class="sec__figure-overlay">
                                            <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                            <div class="sec__caption-container">
                                                <div class="sec__caption">
                                                    <div class="wrap">
                                                        <a href="event-detail.php" class="colYellow">BUY TICKETS</a>

                                                        <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                        <a class="btn
                                                           btn--event-slider" href="#">
                                                            <i class="icons icons-dj-logo dj-logo"></i>
                                                            Going
                                                        </a>



                                                    </div>
                                                </div> <!-- .sec__caption -->
                                            </div> <!-- .sec__caption-container -->
                                        </div> <!-- .sec__figure-overlay -->
                                    </div>

                                    <div class="sec-item__content">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                Club Mixes
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="event-detail.php" style="color:#000;">Balance: Nick Warren</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Thursday 07am 19/06/14
                                            </h3>

                                            <div class="btn-group btn-group-sm clearfix eventBtns" style="margin-top: 10px;">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>

                                            <!-- start share block -->
                                            <div class="clearfix"></div>
                                            <div class="row" style="margin-top:15px; margin-left: -10px;">

                                                <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                            </div>
                                            <!-- end share block -->

                                        </div> <!-- .wrap -->
                                    </div> <!-- .sec__content -->
                                </div>
                            </div> <!-- .sec-list__item -->

                        </article>
                    </div>
                    <!-- end event item -->
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div>
                        <article>

                            <div class="sec-list__item  js-sec-list-item ">

                                <div class="sec sec-item">

                                    <div class="sec__figure">
                                        <img class="sec__img" src="images/desktop/temp/hp-event1.png">

                                        <div class="sec__figure-overlay">
                                            <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                            <div class="sec__caption-container">
                                                <div class="sec__caption">
                                                    <div class="wrap">
                                                        <a href="event-detail.php" class="colYellow">BUY TICKETS</a>

                                                        <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                        <a class="btn
                                                           btn--event-slider" href="#">
                                                            <i class="icons icons-dj-logo dj-logo"></i>
                                                            Going
                                                        </a>




                                                    </div>
                                                </div> <!-- .sec__caption -->
                                            </div> <!-- .sec__caption-container -->
                                        </div> <!-- .sec__figure-overlay -->
                                    </div>

                                    <div class="sec-item__content">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                <a href="event-listing-landing-grid.php" style="color:#000;">Top Picks</a>
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="event-detail.php" style="color:#000;">Balance: Nick Warren</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Thursday 07am 19/06/14
                                            </h3>



                                            <div class="btn-group btn-group-sm clearfix nudge-top eventBtns">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>

                                            <!-- start share block -->
                                            <div class="clearfix"></div>
                                            <div class="row" style="margin-top:15px; margin-left: -10px;">

                                                <div class="share-button" data-url="http://www.pulseradio.net" data-text="Circoloco Australia - pulseradio.net" data-title="share"></div>

                                            </div>
                                            <!-- end share block -->

                                        </div> <!-- .wrap -->

                                    </div> <!-- .sec__content -->
                                </div>                         

                            </div> <!-- .sec-list__item -->

                        </article>
                    </div>
                    <!-- end event item -->
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div class="filterlatest filterevents filterwhatshot">
                        <article>

                            <div class="sec-list__item  js-sec-list-item ">

                                <div class="sec sec-item">

                                    <div class="sec__figure">
                                        <img class="sec__img" src="images/desktop/temp/hp-event2.png">

                                        <div class="sec__figure-overlay">
                                            <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                            <div class="sec__caption-container">
                                                <div class="sec__caption">
                                                    <div class="wrap">
                                                        <a href="event-detail.php" class="colYellow">BUY TICKETS</a>

                                                        <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                        <a class="btn
                                                           btn--event-slider" href="#">
                                                            <i class="icons icons-dj-logo dj-logo"></i>
                                                            Going
                                                        </a>



                                                    </div>
                                                </div> <!-- .sec__caption -->
                                            </div> <!-- .sec__caption-container -->
                                        </div> <!-- .sec__figure-overlay -->
                                    </div>

                                    <div class="sec-item__content">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                Club Mixes
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="event-detail.php" style="color:#000;">Balance: Nick Warren</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Thursday 07am 19/06/14
                                            </h3>

                                            <div class="btn-group btn-group-sm clearfix eventBtns" style="margin-top: 10px;">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>

                                            <!-- start share block -->
                                            <div class="clearfix"></div>
                                            <div class="row" style="margin-top:15px; margin-left: -10px;">

                                                <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                            </div>
                                            <!-- end share block -->

                                        </div> <!-- .wrap -->
                                    </div> <!-- .sec__content -->
                                </div>
                            </div> <!-- .sec-list__item -->

                        </article>
                    </div>
                    <!-- end event item -->
                </div>

                <div class="col-md-4">
                    <!-- start event item -->
                    <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
                    <div class="filterlatest filterevents filtermypulse">
                        <article>

                            <div class="sec-list__item  js-sec-list-item ">

                                <div class="sec sec-item">

                                    <div class="sec__figure">
                                        <img class="sec__img" src="images/desktop/temp/hp-event3.png">

                                        <div class="sec__figure-overlay">
                                            <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                            <div class="sec__caption-container">
                                                <div class="sec__caption">
                                                    <div class="wrap">
                                                        <a href="event-detail.php" class="colYellow">BUY TICKETS</a>

                                                        <hr style="margin-top: 10px; margin-bottom: 10px;">

                                                        <a class="btn
                                                           btn--event-slider" href="#">
                                                            <i class="icons icons-dj-logo dj-logo"></i>
                                                            Going
                                                        </a>



                                                    </div>
                                                </div> <!-- .sec__caption -->
                                            </div> <!-- .sec__caption-container -->
                                        </div> <!-- .sec__figure-overlay -->
                                    </div>

                                    <div class="sec-item__content">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                Club Mixes
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="event-detail.php" style="color:#000;">Balance: Nick Warren</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Thursday 07am 19/06/14
                                            </h3>

                                            <div class="btn-group btn-group-sm clearfix eventBtns" style="margin-top: 10px;">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>

                                            <!-- start share block -->
                                            <div class="clearfix"></div>
                                            <div class="row" style="margin-top:15px; margin-left: -10px;">

                                                <div class="share-button" data-url="http://sharrre.com" data-text="Make your sharing widget with Sharrre (jQuery Plugin)" data-title="share"></div>

                                            </div>
                                            <!-- end share block -->

                                        </div> <!-- .wrap -->
                                    </div> <!-- .sec__content -->
                                </div>
                            </div> <!-- .sec-list__item -->

                        </article>
                    </div>
                    <!-- end event item -->
                </div>




            </div>

            <!-- .row -->
        </div>

        <div class="col-sm-4 hidden-xs">
            <!-- start sidebar -->
            <div class="sidebar__item  sec sec__item">
                <div class="sec-item__content"> 
                    <div id="findEvents" class="input-group">
                        <input type="text" class="form-control" placeholder="Find Artist, Event, Venue, City">
                        <span class="input-group-btn">
                            <button class="btn btn-findEvents" type="button">FIND EVENTS</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            </div>


            <div class="sidebar__item">

                <header class="sidebar__item-header" data-toggle="collapse" data-target="#eventsCountrySelect">
                    Country
                </header>

                <div id="eventsCountrySelect" class="sidebar__item-container collapse in">

                    <ul class="nav-sub__list-left">

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> United States
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> United Kingdom
                            </a>
                        </li>

                        <li class="nav-sub__list-item  active">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Australia
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> South Africa
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Canada
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> India
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-plus"></span> Show More...
                            </a>
                        </li>

                    </ul>

                </div>
            </div>


            <div class="sidebar__item">

                <header class="sidebar__item-header" data-toggle="collapse" data-target="#eventsCountryRegionSelect">
                    Region
                </header>

                <div id="eventsCountryRegionSelect" class="sidebar__item-container collapse">

                    <ul class="nav-sub__list-left">

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Western Cape
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Gauteng
                            </a>
                        </li>

                        <li class="nav-sub__list-item  active">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Northern Cape
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Kwa-Zulu Natal
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Freestate
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-globe"></span> Limpopo
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-plus"></span> Show More...
                            </a>
                        </li>

                    </ul>

                </div>
            </div>


            <div class="sidebar__item">

                <header class="sidebar__item-header" data-toggle="collapse" data-target="#eventsCountryVenueSelect">
                    Venue
                </header>

                <div id="eventsCountryVenueSelect" class="sidebar__item-container collapse">

                    <ul class="nav-sub__list-left">

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-home"></span> Truth
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-home"></span> The Fez
                            </a>
                        </li>

                        <li class="nav-sub__list-item  active">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-home"></span> Sideshow
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-home"></span> Fiction
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-home"></span> And.
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-home"></span> Bullion Bar
                            </a>
                        </li>

                        <li class="nav-sub__list-item">
                            <a class="nav-sub__list-link" href="#">
                                <span class="glyphicon glyphicon-plus"></span> Show More...
                            </a>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="sidebar__item">

                <header class="sidebar__item-header" data-toggle="collapse" data-target="#eventsDateSelect">
                    Date
                </header>

                <div id="eventsDateSelect" class="sidebar__item-container collapse">

                    <div class="bfh-datepicker form-select-inline"></div>
                    <button type="button" class="btn btn-findEvents">SEARCH DATE</button>

                </div>
            </div>

            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->
            <div style="padding-bottom:20px;">
                <article>
                    <div class="sec sec-item">
                        <div class="sidebar-gallery" data-dot-navigation="false" data-theme="dark" data-auto-flick-delay="6" style="height: 640px;">
                            <ul>
                                <li>

                                    <div style="height:425px;">
                                        <img class="img-responsive" src="images/desktop/temp/sidebar-gallery/gallery-event-1.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="sec-item__content" style="height:185px; margin-top: 30px;">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                <a href="podcast-listing.php" style="color:#000;">featured event</a>
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="channel-detail.php" style="color:#000;">Agwa Yacht Party</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Featuring Cassy &amp; Mario Bassanov in Sydney Australia.
                                            </h3>

                                            <div class="btn-group btn-group-sm clearfix nudge-top">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>
                                        </div> <!-- .wrap -->
                                    </div>

                                </li>
                                <li>

                                    <div style="height:425px;">
                                        <img class="img-responsive" src="images/desktop/temp/sidebar-gallery/gallery-event-2.png">
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="sec-item__content" style="height:185px; margin-top: 30px;">
                                        <div class="wrap">
                                            <h2 class="sec__sub-title">
                                                <a href="podcast-listing.php" style="color:#000;">featured event</a>
                                            </h2>
                                            <h1 class="sec__title">
                                                <a href="channel-detail.php" style="color:#000;">Agwa Yacht Party</a>
                                            </h1>
                                            <h3 class="sec__text">
                                                Featuring Cassy &amp; Mario Bassanov in Sydney Australia.
                                            </h3>

                                            <div class="btn-group btn-group-sm clearfix nudge-top">
                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">More Info</a>
                                                </div>

                                                <div class="btn btn-default">
                                                    <a href="event-detail.php">Buy Tickets</a>
                                                </div>
                                            </div>
                                        </div> <!-- .wrap -->
                                    </div>

                                </li>
                            </ul>

                            <!-- .sec__figure-overlay -->
                        </div>

                        <!-- .sec__content -->
                    </div>
                </article>
                <!-- end music item -->
            </div>

            <!-- .banner -->
            <div class="sidebar__item  sec sec__item">
                <div class="sec-item__content">
                    <img class="sec__img"
                         src="images/desktop/sidebar/placeholder-2.png"
                         alt="placeholder">
                </div>
            </div>
            <!-- end sidebar -->
        </div>
    </div>

</div>
