<!-- start mobile my music section -->
<div class="container  snap-item  js-snap-item  js-snap-mobilemymusic">
    <!-- start mobile specific my music area -->


    <div class="panel__title hidden-xs"> Manage Mixtapes </div>
    <div class="wrap">
        <div class="row">

            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->

            <div class="uploaded recommended">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <article>
                        <div class="sec-list__item  js-sec-list-item">
                            <div class="sec sec-item">
                                <div class="sec__figure">
                                    <img class="sec__img" src="images/desktop/temp/music-3.jpg">

                                    <div class="sec__figure-overlay">
                                        <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                        <div class="sec__caption-container">
                                            <div class="sec__caption">
                                                <div class="wrap">
                                                    <a href="#" data-item="1" class="colBlue">Play</a> / <a href="#" class="colBlue">Queue</a>
                                                    <hr>

                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-fb.png"
                                                             width="25"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-tw.png"
                                                             width="30"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-mypulse.png"
                                                             width="27"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                </div>
                                            </div> <!-- .sec__caption -->
                                        </div> <!-- .sec__caption-container -->
                                    </div> <!-- .sec__figure-overlay -->
                                </div>

                                <div class="sec-item__content">
                                    <div class="wrap">
                                        <h2 class="sec__sub-title">
                                            DJ Mixes
                                        </h2>
                                        <h1 class="sec__title">
                                            Ricardo Vilalobos
                                        </h1>
                                        <h3 class="sec__text">
                                            Description can go here along with the date.
                                        </h3>

                                        <div class="clearfix"></div>


                                        <div class="nudge-top-small">
                                            <span class="meta nudge-right-small"><img src="images/desktop/btns/notification-icons/ico-pulse.jpg" width="15" height="17" /></span>
                                            <span class="nudge-right-small">238</span>
                                            <img src="images/desktop/btns/notification-icons/ico-play.jpg" class="nudge-right-small" width="17" height="17" />
                                            <span class="nudge-right">105</span>

                                        </div>

                                        <div class="btn-group
                                             nudge-top">


                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-eye-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-eye-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-pen-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-pen-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-bin-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-bin-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>
                                        </div>






                                    </div> <!-- .wrap -->
                                </div> <!-- .sec__content -->
                            </div>
                        </div> <!-- .sec-list__item -->
                    </article>
                </div>
            </div>
            <!-- end music item -->

            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->

            <div class="uploaded recommended">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <article>
                        <div class="sec-list__item  js-sec-list-item">
                            <div class="sec sec-item">
                                <div class="sec__figure">
                                    <img class="sec__img" src="images/desktop/temp/music-3.jpg">

                                    <div class="sec__figure-overlay">
                                        <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                        <div class="sec__caption-container">
                                            <div class="sec__caption">
                                                <div class="wrap">
                                                    <a href="#" data-item="1" class="colBlue">Play</a> / <a href="#" class="colBlue">Queue</a>
                                                    <hr>

                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-fb.png"
                                                             width="25"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-tw.png"
                                                             width="30"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-mypulse.png"
                                                             width="27"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                </div>
                                            </div> <!-- .sec__caption -->
                                        </div> <!-- .sec__caption-container -->
                                    </div> <!-- .sec__figure-overlay -->
                                </div>

                                <div class="sec-item__content">
                                    <div class="wrap">
                                        <h2 class="sec__sub-title">
                                            DJ Mixes
                                        </h2>
                                        <h1 class="sec__title">
                                            Ricardo Vilalobos
                                        </h1>
                                        <h3 class="sec__text">
                                            Description can go here along with the date.
                                        </h3>

                                        <div class="clearfix"></div>


                                        <div class="nudge-top-small">
                                            <span class="meta nudge-right-small"><img src="images/desktop/btns/notification-icons/ico-pulse.jpg" width="15" height="17" /></span>
                                            <span class="nudge-right-small">238</span>
                                            <img src="images/desktop/btns/notification-icons/ico-play.jpg" class="nudge-right-small" width="17" height="17" />
                                            <span class="nudge-right">105</span>

                                        </div>

                                        <div class="btn-group
                                             nudge-top">


                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-eye-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-eye-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-pen-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-pen-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-bin-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-bin-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>
                                        </div>






                                    </div> <!-- .wrap -->
                                </div> <!-- .sec__content -->
                            </div>
                        </div> <!-- .sec-list__item -->
                    </article>
                </div>
            </div>
            <!-- end music item -->

            <!-- start event item -->
            <!-- filter classes are filterlatest filtertrending filterwhatshot filtermypulse -->

            <div class="uploaded recommended">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <article>
                        <div class="sec-list__item  js-sec-list-item">
                            <div class="sec sec-item">
                                <div class="sec__figure">
                                    <img class="sec__img" src="images/desktop/temp/music-3.jpg">

                                    <div class="sec__figure-overlay">
                                        <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                        <div class="sec__caption-container">
                                            <div class="sec__caption">
                                                <div class="wrap">
                                                    <a href="#" data-item="1" class="colBlue">Play</a> / <a href="#" class="colBlue">Queue</a>
                                                    <hr>

                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-fb.png"
                                                             width="25"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-tw.png"
                                                             width="30"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                    <a href="#">
                                                        <img src="images/desktop/btns/btn-hoverpanel-mypulse.png"
                                                             width="27"
                                                             height="27"
                                                             class="mtop10">
                                                    </a>
                                                </div>
                                            </div> <!-- .sec__caption -->
                                        </div> <!-- .sec__caption-container -->
                                    </div> <!-- .sec__figure-overlay -->
                                </div>

                                <div class="sec-item__content">
                                    <div class="wrap">
                                        <h2 class="sec__sub-title">
                                            DJ Mixes
                                        </h2>
                                        <h1 class="sec__title">
                                            Ricardo Vilalobos
                                        </h1>
                                        <h3 class="sec__text">
                                            Description can go here along with the date.
                                        </h3>

                                        <div class="clearfix"></div>


                                        <div class="nudge-top-small">
                                            <span class="meta nudge-right-small"><img src="images/desktop/btns/notification-icons/ico-pulse.jpg" width="15" height="17" /></span>
                                            <span class="nudge-right-small">238</span>
                                            <img src="images/desktop/btns/notification-icons/ico-play.jpg" class="nudge-right-small" width="17" height="17" />
                                            <span class="nudge-right">105</span>

                                        </div>

                                        <div class="btn-group
                                             nudge-top">


                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-eye-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-eye-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-pen-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-pen-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>

                                            <a href="#"
                                               class="btn
                                               btn-default
                                               icons-child-hover">

                                                <i class="icons
                                                   icons-bin-dark
                                                   nudge-right-small">
                                                </i>

                                                <i class="icons
                                                   icons-bin-light
                                                   icons--is-hover
                                                   nudge-right-small">
                                                </i>
                                            </a>
                                        </div>






                                    </div> <!-- .wrap -->
                                </div> <!-- .sec__content -->
                            </div>
                        </div> <!-- .sec-list__item -->
                    </article>
                </div>
            </div>
            <!-- end music item -->

        </div>
    </div>



    <!-- end mobile specific my music area -->
</div>
<!-- end mobile my music section -->