<div class="sec sec__item">

    <div class="gd-row">
        <div class="gd-md-11-16">
            <div class="sec-item__content sec-item__content--full-border">
                <div class="wrap wrap--large">
                    <div class="article">
                        <h1 class="article__title">
                            PULSE.152 - JOHNNY CRUZ
                        </h1>

                        <div class="article__meta">
                            <div class="article__meta-item">
                                <i class="icons icons-article-date"></i> 17 hours, 7 minutes ago
                            </div>
                        </div>

                        <div class="article__share">
                            2.3k shares

                            <div class="article__share-item  article__share-btn article__share-btn--fb">
                                <i class="article__share-btn-icon  icons  icons-article-fb"></i> Share on Facebook
                            </div>
                            <div class="article__share-item  article__share-btn article__share-btn--tw">
                                <i class="article__share-btn-icon  icons  icons-article-tw"></i> Share on Twitter
                            </div>
                            <div class="article__share-item  article__share-icon-container">
                                <div class="article__share-icon icn icn-plus"></div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">

                                <div class="sec-list__item  js-sec-list-item">
                                    <div class="sec sec-item">
                                        <div class="sec__figure">
                                            <img class="sec__img" src="images/desktop/temp/podcast-listing/johnny.jpg">

                                            <div class="sec__figure-overlay">
                                                <div class="sec__figure-overlay-bg"></div> <!-- .sec__figure-overlay -->
                                                <div class="sec__caption-container">
                                                    <div class="sec__caption">
                                                        <div class="wrap">
                                                            <a href="#" class="colBlue">Play</a> / <a href="#" class="colBlue">Queue</a>
                                                            <hr>

                                                            <a href="#">
                                                                <img src="framework/images/desktop/btns/btn-hoverpanel-fb.png"
                                                                     width="25"
                                                                     height="27"
                                                                     class="mtop10">
                                                            </a>
                                                            <a href="#">
                                                                <img src="framework/images/desktop/btns/btn-hoverpanel-tw.png"
                                                                     width="30"
                                                                     height="27"
                                                                     class="mtop10">
                                                            </a>
                                                            <a href="#">
                                                                <img src="framework/images/desktop/btns/btn-hoverpanel-mypulse.png"
                                                                     width="27"
                                                                     height="27"
                                                                     class="mtop10">
                                                            </a>
                                                        </div>
                                                    </div> <!-- .sec__caption -->
                                                </div> <!-- .sec__caption-container -->
                                            </div> <!-- .sec__figure-overlay -->
                                        </div>
                                    </div>
                                </div> <!-- .sec-list__item -->

                            </div>
                            <div class="col-md-6">
                                <div class="ugc">
                                    <h2>Jonny Cruz</h2>
                                    <p class="sidebar__item-copy-content">Published: 18.11.2013</p>
                                    <p class="sidebar__item-copy-content">Duration: 01:03:12</p>
                                    <div class="clearfix" style="margin-top: 20px;"></div>
                                    <p>Puerto Rican born DJ/producer Jonny Cruz delivers to us Pulse 152, an hour of his finest work. <a href="javascript:;">Read the interview here.</a></p>
                                    <div class="clearfix" style="margin-top: 20px;"></div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6"><a href="javascript:;"><img src="images/desktop/btns/podcastdetail/btn-download.jpg" class="img-responsive"></a></div>
                                    <div class="clearfix visible-xs" style="margin-top: 20px;"></div>
                                    <div class="col-md-6"><a href="javascript:;"><img src="images/desktop/btns/podcastdetail/btn-subscribe.jpg" class="img-responsive"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .sec -->

            <!-- start filterable section -->
            <div class="hidden-sm">
                <?php include("includes/filters/default-user-filter.php"); ?>
            </div>

        </div> <!-- main content -->

        <div class="hidden-sm">
            <div class="sidebar gd-md-5-16">

                <div class="sidebar__item  sec sec__item">
                    <div class="sec-item__content"> 
                        <a href="#"><img class="sec__img"
                                         src="images/desktop/btns/btn-add-tomypulse-sidebar.png"
                                         alt="placeholder">
                        </a>
                    </div>
                </div>

                <div class="sidebar__item">
                    <header class="sidebar__item-header">
                        People that love this
                    </header>

                    <div class="sidebar__item-container sidebar__item-container--tiles">

                        <ul class="sidebar__item-tiles-listing">

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/1.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/2.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/3.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/4.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/5.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/6.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/7.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/8.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/9.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/10.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/11.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/12.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/13.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/14.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>

                            <li class="sidebar__item-tiles-item">
                                <a href=""
                                   class="sidebar__item-tiles-link">
                                    <img src="images/desktop/temp/avatars//small/15.jpg"
                                         class="sidebar__item-img">
                                </a>
                            </li>




                        </ul>
                    </div> <!-- .sidebar__item-container -->

                    <a href="#"
                       class="sidebar__item-footer">
                        View more love
                    </a>
                </div>

                <div class="sec-item__content">
                    <img class="sec__img"
                         src="images/desktop/sidebar/placeholder-2.png"
                         alt="placeholder">
                </div>


                <div class="sidebar__item  sec sec__item">
                    <div class="sidebar__tabs  clearfix">
                        <a class="sidebar__tab-item  sidebar__tab-item--active"
                           href="#tab-featured-events"
                           data-toggle="tab">
                            Featured Events
                        </a>
                        <a class="sidebar__tab-item"
                           href="#tab-trending-events"
                           data-toggle="tab">
                            Trending Events
                        </a>
                    </div> <!-- .sidebar__tabs -->


                    <div class="sec-item__content  sec-item__content--full-border  tab-content">
                        <!-- .sidebar__tab-pane -->
                        <div class="sidebar__tab-pane  tab-pane  active"
                             id="tab-featured-events">

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img class="sidebar__tab-content-img"
                                         src="images/desktop/sidebar/placeholder-3.png"
                                         alt="">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            BORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a href="#" class="btn btn-tertiary btn-sm">
                                                Buy Tickets
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img class="sidebar__tab-content-img"
                                         src="images/desktop/sidebar/placeholder-3.png"
                                         alt="">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">

                                            BORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a href="#" class="btn btn-tertiary btn-sm">
                                                Buy Tickets
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img class="sidebar__tab-content-img"
                                         src="images/desktop/sidebar/placeholder-3.png"
                                         alt="">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            BORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a href="#" class="btn btn-tertiary btn-sm">
                                                Buy Tickets
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                        </div>

                        <div class="sidebar__tab-pane  tab-pane"
                             id="tab-trending-events">

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img class="sidebar__tab-content-img"
                                         src="images/desktop/sidebar/placeholder-3.png"
                                         alt="">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            NORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                Buy Tickets
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img class="sidebar__tab-content-img"
                                         src="images/desktop/sidebar/placeholder-3.png"
                                         alt="">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            NORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                Buy Tickets
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img class="sidebar__tab-content-img"
                                         src="images/desktop/sidebar/placeholder-3.png"
                                         alt="">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            NORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a href="#" class="btn btn-primary btn-sm">
                                                Buy Tickets
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                        </div>
                    </div>
                </div>

                <div class="sidebar__item  sec sec__item">
                    <img class="sec__img"
                         src="images/desktop/sidebar/placeholder-1.png"
                         alt="placeholder">
                    <div class="sec-item__content">
                        <div class="wrap">
                            <h2 class="sec__sub-title">
                                Podcast
                            </h2>
                            <h1 class="sec__title">
                                Randall M
                            </h1>
                            <h3 class="sec__text">
                                Undercurrent Podcast 013: 07.09.12
                            </h3>
                        </div> <!-- .wrap -->
                    </div>
                </div>

                <div class="sidebar__item  sec sec__item">
                    <div class="sidebar__tabs  clearfix">
                        <a data-toggle="tab" href="#tab-featured-mixes" class="sidebar__tab-item  sidebar__tab-item--active">
                            Featured Mixes
                        </a>
                        <a data-toggle="tab" href="#tab-trending-mixes" class="sidebar__tab-item">
                            Trending Mixes
                        </a>
                    </div> <!-- .sidebar__tabs -->

                    <div class="sec-item__content  sec-item__content--full-border  tab-content">
                        <div id="tab-featured-mixes" class="sidebar__tab-pane  tab-pane active">

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            BORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a class="btn btn-primary btn-sm" href="#">
                                                Play now
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            BORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a class="btn btn-primary btn-sm" href="#">
                                                Play now
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            BORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a class="btn btn-primary btn-sm" href="#">
                                                Play now
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                        </div> <!-- .sidebar__tab-pane -->
                        <div id="tab-trending-mixes" class="sidebar__tab-pane  tab-pane">

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            NORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a class="btn btn-tertiary btn-sm" href="#">
                                                Play now
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            NORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a class="btn btn-tertiary btn-sm" href="#">
                                                Play now
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                            <div class="sidebar__tab-content">
                                <div class="wrap wrap--small">
                                    <img alt="" src="images/desktop/sidebar/placeholder-3.png" class="sidebar__tab-content-img">
                                    <div class="sidebar__tab-content-wrap">
                                        <h1 class="sidebar__tab-content-title">
                                            NORIS BREJCHA<br>
                                            HIGH TECH MINIMAL
                                        </h1>
                                        <div class="sidebar__tab-content-meta">
                                            Thursday 12pm 19/06/14
                                        </div>
                                        <div>
                                            <a class="btn btn-tertiary btn-sm" href="#">
                                                Play now
                                            </a>
                                        </div>
                                    </div>
                                </div> <!-- .wrap -->
                            </div> <!-- .sidebar__tab-content -->

                        </div>
                    </div>
                </div>

                <div class="fb-like-box" data-href="https://www.facebook.com/PulseRadio" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>


            </div> <!-- .sidebar -->
        </div>
    </div> <!-- .gd-row -->
</div> <!--.sec -->