<div style="padding-left:20px; padding-right:20px">
    <div class="container" >
        <h1 >New User Registration</h1>
        <hr/>
        <form name="registrationForm">
            <fieldset>
                <label for="name">User Name:</label>
                <input id="name" type="text" required placeholder="Full user's name..." ng-model="registration.name" />
                <label for="email">Email Address:</label>
                <input id="email" type="email" required placeholder="Email address..." ng-model="registration.email" />
                <label for="password">Password:</label>
                <input id="password" type="password" required  ng-model="registration.password" />

            </fieldset>
            <br />

            <button type="submit" class="btn btn-primary" ng-click="saveRegistration(registration, registrationForm)">Save</button>
            <button type="button" class="btn btn-default" ng-click="cancelRegistration()">Cancel</button>

        </form>
    </div>
</div>
