<div class="sec sec__item">


    <div class="gd-row">


        <div class="gd-md-11-16">
            <div class="sec-item__content sec-item__content--full-border">
                <div class="wrap wrap--large">
                    <div class="article">

                        <h1 class="article__title">
                            Desolat presents Troxler, Maceo Plex And More At LWE Tobacco Dock NYD
                        </h1>






                        <div class="row">
                            <div class="col-md-5">
                                <div>
                                    <img src="images/desktop/temp/event-listing/flyer.jpg"  alt=""
                                         class="img-responsive"/>
                                </div>

                                <div class="btn-group btn-group-sm clearfix nudge-top" style="margin-top: 20px;">
                                    <div class="btn btn-default" style="font-size: 13px !important; padding: 7px 30px; width: 50%;">
                                        <a href="javascript:;">Going</a>
                                    </div>

                                    <div class="btn btn-default" style="font-size: 13px !important; padding: 7px 30px; width: 50%;">
                                        <a href="javascript:;">Maybe</a>
                                    </div>
                                </div>

                                <div class="attendance-overview" style="margin-top:20px;">
                                    <ul class="attendance-overview-listing attendance-overview-listing--going">
                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                Going (312)
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <i class="icons icons-add-small-gradient"></i>
                                            </a>

                                    </ul>

                                    <ul class="attendance-overview-listing attendance-overview-listing--maybe">
                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                Maybe (312)
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <i class="icons icons-add-small-gradient"></i>
                                            </a>

                                    </ul>

                                    <ul class="attendance-overview-listing attendance-overview-listing--invited">
                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                Invited (312)
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <img src="img/temp/person-37px.jpg" alt="">
                                            </a>

                                        <li class="attendance-overview-item">
                                            <a href=""
                                               class="attendance-overview-link">
                                                <i class="icons icons-add-small-gradient"></i>
                                            </a>
                                    </ul>
                                </div> <!-- .attendance-overview -->


                            </div>


                            <div class="col-md-7">

                                <h3>TICKETS</h3>

                                <div class="row">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>TYPE</th>
                                                <th>PRICE</th>
                                                <th>FEE</th>
                                                <th>TOTAL</th>
                                                <th>QUANITY</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr>
                                                <td>1st Release</td>
                                                <td>$45.00</td>
                                                <td>$4.50</td>
                                                <td>$49.50</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>2nd Release</td>
                                                <td>$55.00</td>
                                                <td>$5.50</td>
                                                <td>$60.50</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>3rd Release</td>
                                                <td>$60.00</td>
                                                <td>$6.00</td>
                                                <td>$66.00</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>Vip GA</td>
                                                <td>$100.00</td>
                                                <td>$10.00</td>
                                                <td>$110.00</td>
                                                <td>
                                                    <select class="js-select" id="ticket-amount">
                                                        <option value="" selected="selected">1</option>
                                                        <option value="2">2</option>
                                                        <option value="2">3</option>
                                                        <option value="2">4</option>
                                                        <option value="2">5</option>
                                                        <option value="2">6</option>
                                                        <option value="2">7</option>
                                                        <option value="2">8</option>
                                                        <option value="2">9</option>
                                                        <option value="2">10</option>
                                                    </select>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <center><img src="images/desktop/payment/payments.png" alt=""></center>

                                <div class="clearfix" style="margin-top: 20px"></div>

                                <a href class="cta-large">
                                    Buy tickets
                                </a>

                                <div class="ugc">

                                    <h2>Information</h2>

                                    <p>Last weekend brought with it the annual meeting of musical minds that make up the MUTEK electronic music and digital arts festival. This the 14th installment of the festival that annually takes over a variety of institutionalized venues </p>

                                    <p>throughout Montreal. MUTEK’s mode of operation always seems to be same, as it consistently brings with it the element of surprise. The programming is meant to keep everyone guessing. Still, the backbone of the festival remains the same with its consistency. Every year the organizers provide a consistent string of panels and music programming that always ups the ante of years past, never bound by genre restrictions or any other boundary for that matter. This year was no different, in fact, with one look at the lineup, most would admit this year’s program was the most adventurous to date.</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- .sec -->



        </div> <!-- main content -->

        <div class="sidebar gd-md-5-16">
            <img class="sec__img nudge-bottom-large"
                 src="images/desktop/btns/btn-add-tomypulse-sidebar.png"
                 alt="placeholder">


            <div class="sidebar__item">

                <div class="sidebar__item-container">
                    <ul class="lineup-listing">
                        <li class="lineup-item">
                            <a href=""
                               class="lineup-link
                               icons-child-hover">
                                <!-- shouldn't have an icons class - but simply easier with the hover -->
                                <img src="img/temp/person-50px.jpg"
                                     class="icons lineup-img"
                                     alt="">
                                <i class="icons icons-play-logo icons--is-hover"></i>
                            </a>

                        <li class="lineup-item">
                            <a href=""
                               class="lineup-link
                               icons-child-hover">
                                <!-- shouldn't have an icons class - but simply easier with the hover -->
                                <img src="img/temp/person-50px.jpg"
                                     class="icons lineup-img"
                                     alt="">
                                <i class="icons icons-play-logo icons--is-hover"></i>
                            </a>

                        <li class="lineup-item">
                            <a href=""
                               class="lineup-link
                               icons-child-hover">
                                <!-- shouldn't have an icons class - but simply easier with the hover -->
                                <img src="img/temp/person-50px.jpg"
                                     class="icons lineup-img"
                                     alt="">
                                <i class="icons icons-play-logo icons--is-hover"></i>
                            </a>

                        <li class="lineup-item">
                            <a href=""
                               class="lineup-link
                               icons-child-hover">
                                <!-- shouldn't have an icons class - but simply easier with the hover -->
                                <img src="img/temp/person-50px.jpg"
                                     class="icons lineup-img"
                                     alt="">
                                <i class="icons icons-play-logo icons--is-hover"></i>
                            </a>

                        <li class="lineup-item">
                            <a href=""
                               class="lineup-link">
                                <i class="icons icons-add-small-gradient"></i>
                            </a>

                    </ul>

                    <div class="sidebar__headline">
                        Line up
                    </div>

                    <hr class="sidebar__divider">

                    <div class="lineup">
                        <span>Guy Gerber</span> // <span>Dixon</span> // <span>Emerson Todd</span> // <span>COOP</span> // <span>Bella Sarris</span> // <span>Mia Lucci</span> // <span>Sam Roberts</span> // <span>T-Boy</span> // <span>Gabby</span> // <span>Bryan O'Callaghan</span> // <span>Alan Thomas</span>
                    </div>

                    <div class="sidebar__headline">
                        Where &amp; When
                    </div>

                    <hr class="sidebar__divider">

                    <div class="sidebar__location clearfix">
                        <i class="icons icons-clock-green l-left nudge-right"></i>
                        <span class="l-left">From: 08:00 PM Sat 23/02/13</span>
                        <br>
                        <span class="l-left">To: 06:00 AM Sun 24/02/13</span>

                        <br>
                        <br>

                        <i class="icons icons-map-marker l-left nudge-right"></i>
                        <span class="l-left">02 Oxford Street, Darlinghurst</span>
                        <br>
                        <span class="l-left">Sydney New South Wales</span>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d423878.8794460743!2d151.04143586505887!3d-33.90114511269438!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae16530a6fbf%3A0x148558f7bf6fd2cc!2s2+Oxford+St!5e0!3m2!1sen!2sza!4v1394056908227"
                                width="100%"
                                class="nudge-top"
                                height="210"
                                frameborder="0"
                                style="border:0">
                        </iframe>
                    </div> <!-- sidebar__location -->

                    <div class="sidebar__headline">
                        Sub Bass Soundscapes
                    </div>

                    <hr class="sidebar__divider">

                    <div class="sidebar__item-copy-content sidebar__item-copy-content--large">
                        <div class="t-bold t-uppercase">
                            Date
                        </div>
                        Fri 14 Jun 20:00 pm - Sat 15 Jun 03:00 am

                        <div class="nudge-top">
                            <span class="t-bold t-uppercase">
                                Ages allowed
                            </span>
                            18+
                        </div>

                        <div class="nudge-top">
                            <span class="t-bold t-uppercase">
                                Event type
                            </span>
                            Dance Party
                        </div>

                        <div class="nudge-top">
                            <span class="t-bold t-uppercase">
                                Genre
                            </span>
                            Deep House, Techno, Bass Music
                        </div>
                    </div>
                </div> <!-- .sidebar__item-container -->
            </div>

            <!-- .banner -->
            <div class="sidebar__item  sec sec__item">
                <div class="sec-item__content">
                    <img class="sec__img"
                         src="images/desktop/sidebar/placeholder-2.png"
                         alt="placeholder">
                </div>
            </div>

            <iframe width="100%" height="220" src="//www.youtube.com/embed/LpKE0A9AE-o" frameborder="0"
                    allowfullscreen>
            </iframe>

            <div class="sidebar__item-container sidebar__item-container--large">

            </div>
        </div> <!-- .sidebar -->
    </div> <!-- .gd-row -->
</div> <!--.sec -->