

<!-- start main nav -->
<div class="nav-main-container">
    <div class="container">
        <div class="row">
            <a href="/"><img src="images/desktop/btns/logo/logo.png" style="margin-left: -86px; margin-top:9px;"></a>
            <nav class="nav-main" style="margin-top: -36px;">

                <div class="nav-main__item  nav-main__item--first  nav-main__item-link-text  js-nav-item  col-xs-3 col-nav-events"
                     data-name="events">
                    <div class="nav-main__item-link  nav-main__item-link--events">
                        <i class="nav-main__item-icon  icons  icons-event"></i>

                        Events
                    </div> <!-- .nav-main__item-link -->
                </div>
                <div class="nav-main__item  col-xs-3 col-nav-music">
                    <div class="nav-main__item-link  nav-main__item-link--music  nav-main__item-link-text  js-nav-item"
                         data-name="music">
                        <i class="nav-main__item-icon  icons  icons-cd"></i>

                        Music
                    </div><!-- .nav-main__item-link -->

                </div>
                <div class="nav-main__item   nav-main__item--last  col-xs-6 col-nav-content">
                    <div class="nav-main__item-link  nav-main__item-link--words">
                        <i class="nav-main__item-icon  icons icons-list"></i>

                        <div class="nav-main__item-link-text  js-nav-item"
                             data-name="words">
                            Content
                        </div>

                        <div class="nav-main__search l-right">

                            <div id="pulseTopShare"></div><!-- empty for homepage and listing pages -->
                            <div class="nav-main__search-item  nav-main__search-submit  js-nav-search">
                                <i class="icons icons-search"></i>
                            </div>



                            <div id="geoCountry" class="nav-main__search-item">
                                <div style="padding-top: 6px;">

                                    <select class="js-main-nav-select">
                                        <option value="" selected="selected">South Africa</option>
                                        <option value="">United States</option>
                                        <option value="">United Kingdom</option>
                                        <option value="">Australia</option>
                                        <option value="">Canada</option>
                                        <option value="">Hong Kong</option>
                                        <option value="">India</option>
                                        <option value="">Spain</option>
                                        <option value="">Russian Federation</option>
                                        <option value="">Rest of the World</option>
                                    </select>


                                </div>
                            </div>

                        </div> <!-- .nav-main__search -->
                    </div> <!-- .nav-main__item-link -->
                </div>
            </nav> <!-- .nav-main -->
        </div>

    </div> <!-- .container -->


</div> <!-- .nav-main-container -->
<!-- end main nav -->