<!-- start mobile snap drawers -->
<!-- pull menus -->
<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <div class="drwr-left  js-drwr-left-item  js-drwr-left-item-events">

            <div class="drwr-left__nav">

                <div class="drwr-left__title-container">
                    <h1 class="drwr-left__title">
                        My <span class="drwr-left__title-em  drwr-left__title-em--events">events</span>
                    </h1>
                </div>

                <ul class="drwr-left__nav-list">

                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="javascript:;">
                            <span style="color:#FFBE40;">Filter</span> <span class="glyphicon glyphicon-cog" style="color:#FFBE40; float:right; margin-right: 10%;"></span>
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filterlatest" data-type=".filterevents">
                        <a class="drwr-left__nav-link" href="#">
                            Latest
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filtertrending" data-type=".filterevents">
                        <a class="drwr-left__nav-link" href="#">
                            Trending
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filterwhatshot" data-type=".filterevents">
                        <a class="drwr-left__nav-link" href="#">
                            What's Hot
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filtermypulse" data-type=".filterevents">
                        <a class="drwr-left__nav-link" href="#">
                            My Pulse
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="javascript:;">
                            <span style="color:#FFBE40;">Navigation</span> <span class="glyphicon glyphicon-align-justify" style="color:#FFBE40; float:right; margin-right: 10%;"></span>
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            What's On
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Venues
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Contests: Win Tickets
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Sell Tickets
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Rep an Event
                        </a>
                    </li>

                </ul>

            </div>

        </div>

        <div class="drwr-left  js-drwr-left-item  js-drwr-left-item-music  is-hidden">

            <div class="drwr-left__nav">

                <div class="drwr-left__title-container">
                    <h1 class="drwr-left__title">
                        My <span class="drwr-left__title-em  drwr-left__title-em--music">music</span>
                    </h1>
                </div>

                <ul class="drwr-left__nav-list">

                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="javascript:;">
                            <span style="color:#3FB8AF;">Filter</span> <span class="glyphicon glyphicon-cog" style="color:#3FB8AF; float:right; margin-right: 10%;"></span>
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filterlatest" data-type=".filtermusic">
                        <a class="drwr-left__nav-link" href="#">
                            Latest
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filtertrending" data-type=".filtermusic">
                        <a class="drwr-left__nav-link" href="#">
                            Trending
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filterwhatshot" data-type=".filtermusic">
                        <a class="drwr-left__nav-link" href="#">
                            What's Hot
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filtermypulse" data-type=".filtermusic">
                        <a class="drwr-left__nav-link" href="#">
                            My Pulse
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="javascript:;">
                            <span style="color:#3FB8AF;">Navigation</span> <span class="glyphicon glyphicon-align-justify" style="color:#3FB8AF; float:right; margin-right: 10%;"></span>
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            DJ Mixes
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Live Recordings
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Pulse Essential Mixes
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Podcasts
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            My Pulse
                        </a>
                    </li>

                </ul>

            </div>

        </div>

        <div class="drwr-left  js-drwr-left-item  js-drwr-left-item-words  is-hidden">

            <div class="drwr-left__nav">

                <div class="drwr-left__title-container">
                    <h1 class="drwr-left__title">
                        My <span class="drwr-left__title-em  drwr-left__title-em--words">words</span>
                    </h1>
                </div>

                <ul class="drwr-left__nav-list">

                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="javascript:;">
                            <span style="color:#E32143;">Filter</span> <span class="glyphicon glyphicon-cog" style="color:#E32143; float:right; margin-right: 10%;"></span>
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filterlatest" data-type=".filterwords">
                        <a class="drwr-left__nav-link" href="#">
                            Latest
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filtertrending" data-type=".filterwords">
                        <a class="drwr-left__nav-link" href="#">
                            Trending
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filterwhatshot" data-type=".filterwords">
                        <a class="drwr-left__nav-link" href="#">
                            What's Hot
                        </a>
                    </li>
                    <li class="drwr-left__nav-item js-mobi-filter" data-filter=".filtermypulse" data-type=".filterwords">
                        <a class="drwr-left__nav-link" href="#">
                            My Pulse
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="javascript:;">
                            <span style="color:#E32143;">Navigation</span> <span class="glyphicon glyphicon-align-justify" style="color:#E32143; float:right; margin-right: 10%;"></span>
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            DJs
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Festivals &amp; Clubs
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Music Labels
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Fashion
                        </a>
                    </li>
                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#">
                            Tech
                        </a>
                    </li>

                </ul>

            </div>

        </div>


        <div class="drwr-left  js-drwr-left-item  js-drwr-left-item-my-pulse-menu is-hidden">

            <div class="drwr-left__nav">

                <div class="drwr-left__title-container">
                    <h1 class="drwr-left__title" style="width: 95%;">
                        my <span class="drwr-left__title-em  drwr-left__title-em--words">pulse</span>
                        <img class="avatar l-right" src="images/mobile/menus/mypulse/avi.png" alt="Avatar">
                    </h1>
                </div>

                <ul class="drwr-left__nav-list">

                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#"><span class="glyphicon glyphicon-calendar"></span>&nbsp;&nbsp;My Events</a>
                    </li>

                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#"><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;My Words</a>
                    </li>

                    <li class="drwr-left__nav-item js-side-nav-item" data-filter="mobilemymusic">
                        <a class="drwr-left__nav-link" href="javascript:;"><span class="glyphicon glyphicon-record"></span>&nbsp;&nbsp;My Music</a>
                    </li>

                    <li class="drwr-left__nav-item js-side-nav-item" data-filter="notifications">
                        <a class="drwr-left__nav-link" href="#"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;&nbsp;My Notifications</a>
                    </li>

                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;My Comments</a>
                    </li>

                    <li class="drwr-left__nav-item">
                        <a class="drwr-left__nav-link" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Friends Feeds</a>
                    </li>

                    <li class="drwr-left__nav-item js-side-nav-item" data-filter="settings">
                        <a class="drwr-left__nav-link" href="javascript:;"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings</a>
                    </li>


                </ul>

            </div>
        </div>

    </div>

    <!-- start right pull menu -->
    <div class="snap-drawer snap-drawer-right">
        <div class="search">
            <form class="search__form">
                <input class="search__input"
                       type="text"
                       placeholder="Search">

                <div class="search__select">
                    <select class="js-search-select"
                            data-filter="Type of Content">
                        <option value="">Events</option>
                        <option value="astral-people">Astral People</option>
                        <option value="synth-by-synth">Synth By Synth</option>
                        <option value="miami-nights">Miami Nights</option>
                    </select>
                </div>

                <div class="search__select">
                    <select class="js-search-select"
                            data-filter="Date">
                        <option value="">Please Select</option>
                        <option value="astral-people">Astral People</option>
                        <option value="synth-by-synth">Synth By Synth</option>
                        <option value="miami-nights">Miami Nights</option>
                    </select>
                </div>

                <div class="search__select">
                    <select class="js-search-select"
                            data-filter="Venues">
                        <option value="">All</option>
                        <option value="astral-people">Astral People</option>
                        <option value="synth-by-synth">Synth By Synth</option>
                        <option value="miami-nights">Miami Nights</option>
                    </select>
                </div>

                <div class="search__select">
                    <select class="js-search-select"
                            data-filter="Location">
                        <option value="">Sydney</option>
                        <option value="astral-people">Astral People</option>
                        <option value="synth-by-synth">Synth By Synth</option>
                        <option value="miami-nights">Miami Nights</option>
                    </select>
                </div>

                <div class="wrap">
                    <input class="search__submit" type="submit" value="Search Now">
                </div>
            </form> <!-- .search__form -->
        </div> <!-- .search -->
    </div>
    <!-- end right pull menu -->
</div>
<!-- end mobile snap drawers -->